<h1 mat-dialog-title>{{ 'settings-data-sink.CreateDataPoint' | translate }}</h1>
<div mat-dialog-content>
  <ngx-datatable
    [headerHeight]="50"
    rowHeight="auto"
    [rows]="rows"
    class="overflow-auto select-type-table"
  >
    <ngx-datatable-column
      [name]="'settings-data-sink.Name' | translate"
      prop="name"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row.address)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.DataItem' | translate"
      prop="address"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row.address)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.Type' | translate"
      prop="type"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row.address)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.InitialValue' | translate"
      prop="initialValue"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row.address)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.Actions' | translate"
      cellClass="button-cell"
      [sortable]="false"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <mat-button-toggle-group [disabled]="">
          <mat-button-toggle
            *ngIf="isExisting(row.address)"
            [matTooltip]="
              'settings-data-sink.AlreadyExistDataPoint' | translate
            "
            matTooltipPosition="above"
            [disabled]="true"
            ><mat-icon svgIcon="mdc:arrow-right"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="!isExisting(row.address)"
            [matTooltip]="'settings-data-sink.SelectVariable' | translate"
            matTooltipPosition="above"
            (click)="onSelect(row)"
            ><mat-icon svgIcon="mdc:arrow-right"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div mat-dialog-actions class="d-flex align-items-center justify-content-end">
  <button type="submit" mat-button (click)="onClose()">
    {{
      (data.dataSinkProtocol === DataSinkProtocol.OPC
        ? 'settings-data-sink.Close'
        : 'settings-data-sink.Cancel'
      ) | translate
    }}
  </button>
</div>
