/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ngx-mat-timepicker
  form
  .ngx-mat-timepicker-table
  .ngx-mat-timepicker-tbody
  tr
  td
  .mat-form-field {
  width: 70px !important;
  max-width: 70px !important;
}

@import 'styles/index';

@import '~ngx-toastr/toastr';
