node_modules
build
dist
runtime
mdclight
tmp
coverage 
tmp
.DS_Store
.env
yarn-error.log
.idea
*.tar.gz

yarn.lock
package-lock.json

src/modules/Iot2050MraaDI10/sys
src/modules/Iot2050MraaDI10/sys/*

src/modules/IoT2050HardwareEvents/sys
src/modules/IoT2050HardwareEvents/sys/*

CHANGELOG.pdf