<h1 mat-dialog-title>
  {{ 'settings-data-sink.SetCustomOpcUaVariable' | translate }}
</h1>

<form
  #form="ngForm"
  (ngSubmit)="!isDuplicatingAddress(customDatapoint) && onSave()"
>
  <div mat-dialog-content *ngIf="customDatapoint">
    <mat-form-field>
      <mat-label>{{ 'settings-data-sink.Name' | translate }}</mat-label>
      <input
        matInput
        name="name"
        [(ngModel)]="customDatapoint.name"
        [placeholder]="'settings-data-sink.Name' | translate"
        pattern="^[\w\s\-]+$"
        autofocus
        required
      />
    </mat-form-field>
    <mat-form-field
      [class.mat-form-field-invalid]="isDuplicatingAddress(customDatapoint)"
    >
      <mat-label>{{ 'settings-data-sink.NodeId' | translate }}</mat-label>
      <input
        matInput
        name="address"
        [(ngModel)]="customDatapoint.address"
        [placeholder]="'settings-data-sink.NodeId' | translate"
        pattern="^\w+$"
        [matTooltip]="'settings-data-sink.DuplicatedAddress' | translate"
        matTooltipPosition="above"
        [matTooltipDisabled]="!isDuplicatingAddress(customDatapoint)"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'settings-data-sink.DataType' | translate }}</mat-label>
      <mat-select
        disableOptionCentering="true"
        name="dataType"
        [(ngModel)]="customDatapoint.dataType"
        [placeholder]="'settings-data-sink.DataType' | translate"
        required
      >
        <mat-option [value]="DataPointDataType.String" required>{{
          'data-type.String' | translate
        }}</mat-option>
        <mat-option [value]="DataPointDataType.Double" required>{{
          'data-type.Double' | translate
        }}</mat-option>
        <mat-option [value]="DataPointDataType.Byte" required>{{
          'data-type.Byte' | translate
        }}</mat-option>
        <mat-option [value]="DataPointDataType.UInt16" required>{{
          'data-type.UInt16' | translate
        }}</mat-option>
        <mat-option [value]="DataPointDataType.UInt32" required>{{
          'data-type.UInt32' | translate
        }}</mat-option>
        <!--
          Int16, Int32 and LocalizedText are NOT selectable!
        -->
        <mat-option [value]="DataPointDataType.Boolean" required>{{
          'data-type.Boolean' | translate
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    mat-dialog-actions
    class="justify-content-end"
    style="margin-right: 14px"
  >
    <button type="button" mat-button color="secondary" (click)="onCancel()">
      {{ 'settings-data-sink.Cancel' | translate }}
    </button>
    <button
      type="submit"
      mat-button
      color="primary"
      [disabled]="
        !form.dirty || form.invalid || isDuplicatingAddress(customDatapoint)
      "
    >
      {{ 'settings-data-sink.Save' | translate }}
    </button>
  </div>
</form>
