<div mat-dialog-title class="d-flex align-items-center">
  <h1>{{ 'settings-data-sink.OpcUaVariables' | translate }}</h1>
  <button
    type="button"
    mat-mini-fab
    color="primary"
    class="wh-32 border-round mat-elevation-z0 mt-0 ml-5"
    style="margin-top: 15px"
    [matTooltip]="'settings-data-sink.AddOpcUaVariable' | translate"
    matTooltipPosition="above"
    (click)="customOpcUaVariables.onAdd()"
  >
    <mat-icon svgIcon="mdc:order-add"></mat-icon>
  </button>
</div>

<div mat-dialog-content class="overflow-auto pt-0">
  <app-custom-opc-ua-variables
    #customOpcUaVariables
    [hidden]="!customDatapointRows?.length"
    [rows]="customDatapointRows"
    [existingAddresses]="data.existingAddresses"
    (selected)="onSelect($event)"
  ></app-custom-opc-ua-variables>

  <h3>{{ 'settings-data-sink.UmatiOpcUaVariables' | translate }}</h3>
  <ngx-datatable
    [headerHeight]="50"
    rowHeight="auto"
    [rows]="rows"
    class="select-type-table"
  >
    <ngx-datatable-column
      [name]="'settings-data-sink.Name' | translate"
      prop="name"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row.address)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.Address' | translate"
      prop="address"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row.address)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.DataType' | translate"
      prop="dataType"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row.address)"
          [title]="value"
        >
          <ng-container [ngSwitch]="value">
            <ng-container *ngSwitchCase="DataPointDataType.String">{{
              'data-type.String' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="DataPointDataType.Double">{{
              'data-type.Double' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="DataPointDataType.Byte">{{
              'data-type.Byte' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="DataPointDataType.UInt16">{{
              'data-type.UInt16' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="DataPointDataType.UInt32">{{
              'data-type.UInt32' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="DataPointDataType.Int16">{{
              'data-type.Int16' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="DataPointDataType.Int32">{{
              'data-type.Int32' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="DataPointDataType.LocalizedText">{{
              'data-type.LocalizedText' | translate
            }}</ng-container>
            <ng-container *ngSwitchCase="DataPointDataType.Boolean">{{
              'data-type.Boolean' | translate
            }}</ng-container>
            <ng-container *ngSwitchDefault>{{
              value | uppercase
            }}</ng-container>
          </ng-container>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.InitialValue' | translate"
      prop="initialValue"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row.address)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.Actions' | translate"
      cellClass="button-cell"
      [sortable]="false"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <mat-button-toggle-group [disabled]="">
          <mat-button-toggle
            *ngIf="isExisting(row.address)"
            [matTooltip]="
              'settings-data-sink.AlreadyExistDataPoint' | translate
            "
            matTooltipPosition="above"
            [disabled]="true"
            ><mat-icon svgIcon="mdc:arrow-right"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="!isExisting(row.address)"
            [matTooltip]="'settings-data-sink.SelectVariable' | translate"
            matTooltipPosition="above"
            (click)="onSelect(row)"
            ><mat-icon svgIcon="mdc:arrow-right"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div mat-dialog-actions class="d-flex align-items-center justify-content-end">
  <button type="submit" mat-button (click)="onClose()">
    {{ 'settings-data-sink.Cancel' | translate }}
  </button>
</div>
