[Unit]
Description=Generate a public/private ssh key pair for the container network manager.

[Service]
Type=oneshot
ExecStart=/root/containerkeys.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target