app-data-source {
    .action-cell,
    .address-cell {
        padding: 8px !important;
    }
    .show-variables-button {
        width: 26px !important;
        height: 26px !important;
        .mat-button-toggle-label-content {
            min-width: 20px !important;
            width: 20px !important;
            height: 20px !important;
            line-height: 20px !important;
            padding: 5px 1px !important;
            mat-icon {
                font-size: 14px !important;
            }
        }
    }
}