:host {
  & .mat-form-field {
    margin-top: 0;
    & ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

.circle {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: currentColor;
  margin-right: 5px;
}
.address-nck {
  margin: -3px 0;
}

ngx-datatable ::ng-deep {
  .datatable-header-inner {
    width: 100% !important;
  }

  .datatable-scroll {
    display: inherit !important;
  }

  .datatable-row-center {
    width: 100% !important;
  }

  .datatable-body-row {
    width: 100% !important;
  }
}
