app-data-source {
    .mat-button-toggle-sm {
        width: 32px !important;
        height: 32px !important;
        .mat-button-toggle-label-content {
            min-width: 25px !important;
            width: 25px !important;
            height: 25px !important;
            line-height: 25px !important;
            padding: 5px 1px !important;
            mat-icon {
                font-size: 18px;
            }
        }
    }

    .action-cell {
        padding: 8px !important;
    }
}