<div class="layout-header">
  <h2 class="layout-header__title mt-0 mb-0 mr-25 ml-25">
    {{ 'settings-data-source.DataSource' | translate }}
  </h2>
  <div class="layout-header__tabs">
    <nav mat-tab-nav-bar mat-align-tabs="center">
      <a
        mat-tab-link
        *ngFor="let item of dataSourceList"
        (click)="switchDataSource(item)"
        [active]="dataSource?.protocol === item.protocol"
        >{{ 'settings-data-source.Tabs.' + item.protocol | translate }}</a
      >
    </nav>
  </div>
</div>

<mat-divider></mat-divider>

<div class="d-block m-20">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row mt-20 mb-25">
        <div class="col-6 col-lg-5">
          {{ 'settings-data-source.Enabled' | translate }}
        </div>
        <mat-slide-toggle
          class="col-6 col-lg-4"
          [ngModel]="dataSource?.enabled"
          (ngModelChange)="updateEnabled($event)"
        ></mat-slide-toggle>
      </div>

      <div *ngIf="dataSource?.protocol === Protocol.S7">
        <div class="mt-20 d-flex align-items-center">
          <div class="mt-0 mr-25 text-nowrap">
            {{ 'settings-data-source.IPAddress' | translate }}
          </div>
          <form #form="ngForm">
            <div>
              <mat-form-field>
                <input
                  matInput
                  name="ipAddress"
                  #ipAddr="ngModel"
                  [ngModel]="dataSource?.connection?.ipAddr"
                  [pattern]="ipRegex"
                  [required]="true"
                  (ngModelChange)="updateIpAddress(form.valid, $event)"
                />
              </mat-form-field>
            </div>
          </form>
        </div>

        <div *ngIf="false">
          <div class="row d-flex align-items-center">
            <div class="col-12 col-md-5">
              <label>{{
                'settings-data-source.SoftwareVersion' | translate
              }}</label>
            </div>
            <div class="col-12 col-md-7">
              <mat-form-field>
                <mat-select
                  [ngModel]="dataSource?.softwareVersion"
                  (ngModelChange)="updateSoftwareVersion($event)"
                >
                  <mat-option
                    *ngFor="let version of SoftwareVersions"
                    [value]="version"
                    >{{ version }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-sm-4 offset-sm-4 col-lg-2 offset-lg-6"
      *ngIf="connection && dataSource?.protocol !== Protocol.IOShield"
    >
      <div class="mt-25">
        {{ 'settings-data-source.Connection' | translate }}
      </div>
      <div
        class="mt-10 d-flex align-items-center justify-content-between"
        style="border: 1px solid #ccc; padding: 10px; border-radius: 6px"
      >
        <div>
          <div style="font-weight: 600">
            <ng-container [ngSwitch]="connection.status">
              <ng-container
                *ngSwitchCase="DataSourceConnectionStatus.Connected"
              >
                {{ 'settings-data-source.Running' | translate }}
              </ng-container>
              <ng-container
                *ngSwitchCase="DataSourceConnectionStatus.Disconnected"
              >
                {{ 'settings-data-source.Disconnected' | translate }}
              </ng-container>
            </ng-container>
          </div>
          <small style="color: #999">{{
            'settings-data-source.ServiceState' | translate
          }}</small>
        </div>
        <div class="mr-10">
          <ng-container [ngSwitch]="connection.status">
            <ng-container *ngSwitchCase="DataSourceConnectionStatus.Connected">
              <mat-icon class="color-success">check_circle_outline</mat-icon>
            </ng-container>
            <ng-container
              *ngSwitchCase="DataSourceConnectionStatus.Disconnected"
            >
              <mat-icon class="color-danger">highlight_off</mat-icon>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-center">
            <h3>{{ 'settings-data-source.DataPoints' | translate }}</h3>
            <button
              type="button"
              [disabled]="isEditing"
              mat-mini-fab
              color="primary"
              class="wh-32 border-round ml-15"
              (click)="onAdd()"
              [matTooltip]="'settings-data-source.AddDataPoint' | translate"
              matTooltipPosition="above"
            >
              <mat-icon style="margin-top: -10px">add</mat-icon>
            </button>
          </div>
        </div>
        <div
          class="col-12 col-md-6 d-flex align-items-center justify-content-end"
        >
          <div class="d-flex align-items-center">
            <button
              mat-button
              type="button"
              class="btn-sm mr-10"
              *ngIf="isTouchedTable && !isLoading"
              (click)="onDiscard()"
            >
              {{ 'settings-data-source.DiscardChanges' | translate }}
            </button>

            <mat-spinner
              diameter="20"
              *ngIf="isLoading"
              class="mr-10"
            ></mat-spinner>

            <button
              mat-raised-button
              type="button"
              class="btn-sm"
              [disabled]="!isTouchedTable || isLoading"
              (click)="onApply()"
            >
              {{ 'settings-data-source.ApplyChanges' | translate }}
            </button>
          </div>
        </div>
      </div>

      <ngx-datatable
        [headerHeight]="50"
        [rows]="datapointRows"
        rowHeight="auto"
        columnMode="flex"
      >
        <ngx-datatable-column
          [name]="'settings-data-source.Name' | translate"
          prop="name"
          [flexGrow]="1"
          cellClass="input-cell"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <div
              *ngIf="unsavedRowIndex !== rowIndex"
              class="text-ellipsis"
              [title]="value"
            >
              {{ getDataSourceDataPointPrefix(row.id) }} {{ value }}
            </div>
            <input
              *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
              type="text"
              class="w-100"
              [ngModel]="value"
              (ngModelChange)="unsavedRow.name = $event"
              autofocus
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          *ngIf="dataSource?.protocol != Protocol.IOShield"
          [name]="'settings-data-source.Type' | translate"
          prop="type"
          [flexGrow]="1"
          cellClass="input-cell"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span *ngIf="unsavedRowIndex !== rowIndex">
              <ng-container [ngSwitch]="value">
                <ng-container *ngSwitchCase="SourceDataPointType.PLC"
                  >PLC</ng-container
                >
                <ng-container *ngSwitchCase="SourceDataPointType.NCK"
                  >NCK</ng-container
                >
              </ng-container>
            </span>
            <mat-select
              *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
              [ngModel]="value"
              (ngModelChange)="unsavedRow && (unsavedRow.type = $event)"
            >
              <mat-option [value]="SourceDataPointType.PLC">PLC</mat-option>
              <mat-option [value]="SourceDataPointType.NCK">NCK</mat-option>
            </mat-select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-data-source.LiveData' | translate"
          prop="livedata"
          [flexGrow]="1"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span *ngIf="liveData && liveData[row.id]; else noLiveData">
              <ng-container *ngIf="dataSource?.protocol == Protocol.IOShield">
                <ng-container
                  *ngIf="row.address?.startsWith('DI'); else noTranslate"
                  >{{
                    'settings-data-source.Livedata.ioshield.' +
                      liveData[row.id].value | translate
                  }}
                </ng-container>
                <ng-template #noTranslate>{{
                  liveData[row.id].value
                }}</ng-template>
              </ng-container>

              <ng-container *ngIf="dataSource?.protocol != Protocol.IOShield">
                {{ liveData[row.id].value }}
              </ng-container>
            </span>
            <ng-template #noLiveData>-</ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-data-source.Address' | translate"
          prop="address"
          [flexGrow]="3"
          cellClass="input-cell address-cell"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <ng-container *ngIf="unsavedRowIndex !== rowIndex">
              <div class="text-ellipsis" [title]="value">
                {{ value }}
              </div>
            </ng-container>
            <div
              *ngIf="unsavedRowIndex === rowIndex"
              class="d-flex align-items-center"
              [class.address-nck]="unsavedRow!.type === SourceDataPointType.NCK"
            >
              <ng-container [ngSwitch]="unsavedRow!.type">
                <ng-container *ngSwitchCase="SourceDataPointType.NCK">
                  <div>{{ unsavedRow?.address }}</div>
                  <mat-button-toggle-group
                    class="mt-0 ml-10"
                    #group="matButtonToggleGroup"
                  >
                    <mat-button-toggle
                      class="small-button"
                      (click)="
                        unsavedRow && onAddressSelect(unsavedRow);
                        group.value = null
                      "
                      [matTooltip]="'settings-data-source.Select' | translate"
                      matTooltipPosition="above"
                      ><mat-icon>open_in_new</mat-icon></mat-button-toggle
                    >
                  </mat-button-toggle-group>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <mat-select
                    *ngIf="
                      dataSource?.protocol === Protocol.IOShield;
                      else s7InputAddress
                    "
                    [ngModel]="value"
                    (ngModelChange)="
                      unsavedRow && (unsavedRow.address = $event)
                    "
                  >
                    <mat-option
                      *ngFor="let address of DigitalInputAddresses"
                      [value]="address"
                      >{{ address }}</mat-option
                    >
                  </mat-select>
                  <ng-template #s7InputAddress>
                    <input
                      *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
                      type="text"
                      class="w-100"
                      [ngModel]="value"
                      (ngModelChange)="unsavedRow.address = $event"
                    />
                  </ng-template>
                </ng-container>
              </ng-container>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-data-source.Actions' | translate"
          [flexGrow]="1"
          cellClass="button-cell"
          [sortable]="false"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <mat-button-toggle-group
              *ngIf="unsavedRowIndex !== rowIndex"
              #group="matButtonToggleGroup"
            >
              <mat-button-toggle
                (click)="onEditStart(rowIndex, row); group.value = null"
                [matTooltip]="'settings-data-source.Edit' | translate"
                matTooltipPosition="above"
                ><mat-icon>edit</mat-icon></mat-button-toggle
              >
              <mat-button-toggle
                (click)="onDelete(row); group.value = null"
                [matTooltip]="'settings-data-source.Delete' | translate"
                matTooltipPosition="above"
                ><mat-icon>delete_outline</mat-icon></mat-button-toggle
              >
            </mat-button-toggle-group>
            <mat-button-toggle-group
              *ngIf="unsavedRowIndex === rowIndex"
              #group="matButtonToggleGroup"
            >
              <mat-button-toggle
                (click)="onEditEnd(); group.value = null"
                [matTooltip]="'settings-data-source.Save' | translate"
                matTooltipPosition="above"
                ><mat-icon class="color-success"
                  >check</mat-icon
                ></mat-button-toggle
              >
              <mat-button-toggle
                (click)="onEditCancel(); group.value = null"
                [matTooltip]="'settings-data-source.Cancel' | translate"
                matTooltipPosition="above"
                ><mat-icon class="color-error"
                  >close</mat-icon
                ></mat-button-toggle
              >
            </mat-button-toggle-group>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
