<div class="layout-header">
  <h2 class="layout-header__title mt-0 mb-0 mr-25 ml-25">
    {{ 'settings-network.Network' | translate }}
  </h2>
  <div class="layout-header__tabs">
    <nav mat-tab-nav-bar mat-align-tabs="center">
      <a
        *ngFor="let adapter of adapters; let i = index"
        mat-tab-link
        [active]="adapter.id === selectedTabContent"
        (click)="onSelectTab(i, adapter.id)"
        >{{ adapter.displayName }}</a
      >
      <a
        *ngIf="proxy"
        mat-tab-link
        [active]="NetworkType.PROXY === selectedTabContent"
        (click)="onSelectTab(0, NetworkType.PROXY)"
        >Proxy</a
      >
      <a
        *ngIf="ntp"
        mat-tab-link
        [active]="NetworkType.NTP === selectedTabContent"
        (click)="onSelectTab(0, NetworkType.NTP)"
        >Time</a
      >
    </nav>
  </div>
</div>
<mat-divider></mat-divider>
<div class="pl-25 pr-25">
  <div class="pb-25" [ngSwitch]="selectedTabContent">
    <ng-container *ngSwitchCase="NetworkType.ETHERNET_X1">
      <h3>{{ 'settings-network.AdapterSettings' | translate }}</h3>
    </ng-container>
    <ng-container *ngSwitchCase="NetworkType.ETHERNET_X2">
      <h3>{{ 'settings-network.AdapterSettings' | translate }}</h3>
    </ng-container>
    <ng-container *ngSwitchCase="NetworkType.PROXY">
      <h3>{{ 'settings-network.ProxySettings' | translate }}</h3>
    </ng-container>
    <ng-container *ngSwitchCase="NetworkType.NTP">
      <h3>{{ 'settings-network.TimeSettings' | translate }}</h3>
    </ng-container>
    <mat-divider></mat-divider>
  </div>

  <div class="row" [ngSwitch]="selectedTabContent">
    <div class="col-12 col-md-7 col-lg-5">
      <ng-container *ngSwitchCase="NetworkType.ETHERNET_X1">
        <form #mainForm="ngForm">
          <div class="d-flex align-items-center justify-content-between">
            <div class="mr-30">
              {{ 'settings-network.AssignIPManually' | translate }}
            </div>
            <mat-slide-toggle
              class="ml-20"
              name="notToUseDhcp"
              [ngModel]="!adapters[selectedTab].ipv4Settings.dhcp"
              (ngModelChange)="
                adapters[selectedTab].ipv4Settings.dhcp = !$event
              "
            ></mat-slide-toggle>
          </div>

          <div class="mt-20 d-flex align-items-center justify-content-between">
            <div class="mt-0 mr-25 text-nowrap">
              {{ 'settings-network.IPAddress' | translate }}
            </div>
            <div>
              <mat-form-field>
                <input
                  #ipAddr="ngModel"
                  [(ngModel)]="
                    adapters[selectedTab].ipv4Settings.ipAddresses[0].Address
                  "
                  [disabled]="!!adapters[selectedTab].ipv4Settings.dhcp"
                  [pattern]="ipRegex"
                  matInput
                  name="ipAddr"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="mt-20 d-flex align-items-center justify-content-between">
            <div class="mt-0 mr-25 text-nowrap">
              {{ 'settings-network.Netmask' | translate }}
            </div>
            <div>
              <mat-form-field>
                <input
                  #netmask="ngModel"
                  [(ngModel)]="
                    adapters[selectedTab].ipv4Settings.ipAddresses[0].Netmask
                  "
                  [disabled]="!!adapters[selectedTab].ipv4Settings.dhcp"
                  [pattern]="ipRegex"
                  matInput
                  name="netmask"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="mt-20 d-flex align-items-center justify-content-between">
            <div class="mt-0 mr-25 text-nowrap">
              {{ 'settings-network.DefaultGateway' | translate }}
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  name="defaultGateway"
                  #defaultGateway="ngModel"
                  [(ngModel)]="
                    adapters[selectedTab].ipv4Settings.defaultGateway
                  "
                  [pattern]="ipRegex"
                  [disabled]="!!adapters[selectedTab].ipv4Settings.dhcp"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="mt-20 d-flex align-items-center justify-content-between">
            <div class="mt-0 mr-25 text-nowrap">
              {{ 'settings-network.DNSServer' | translate }}
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  name="dnsServer"
                  #dnsServer="ngModel"
                  [(ngModel)]="adapters[selectedTab].ipv4Settings.dnsserver[0]"
                  [pattern]="ipRegex"
                  [disabled]="!!adapters[selectedTab].ipv4Settings.dhcp"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-25">
            <button
              mat-button
              color="primary"
              [disabled]="mainForm.invalid || !mainForm.dirty"
              (click)="onSaveAdapters()"
            >
              {{ 'settings-network.Apply' | translate }}
            </button>
          </div>
        </form>
      </ng-container>

      <ng-container *ngSwitchCase="NetworkType.ETHERNET_X2">
        <form #mainForm="ngForm">
          <div class="d-flex align-items-center justify-content-between">
            <div class="mr-30">
              {{ 'settings-network.AssignIPManually' | translate }}
            </div>
            <mat-slide-toggle
              class="ml-20"
              name="notToUseDhcp"
              [ngModel]="!adapters[selectedTab].ipv4Settings.dhcp"
              (ngModelChange)="
                adapters[selectedTab].ipv4Settings.dhcp = !$event
              "
            ></mat-slide-toggle>
          </div>

          <div class="mt-20 d-flex align-items-center justify-content-between">
            <div class="mt-0 mr-25 text-nowrap">
              {{ 'settings-network.IPAddress' | translate }}
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  name="ipAddr"
                  #netmask="ngModel"
                  [(ngModel)]="
                    adapters[selectedTab].ipv4Settings.ipAddresses[0].Address
                  "
                  [pattern]="ipRegex"
                  [disabled]="!!adapters[selectedTab].ipv4Settings.dhcp"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="mt-20 d-flex align-items-center justify-content-between">
            <div class="mt-0 mr-25 text-nowrap">
              {{ 'settings-network.Netmask' | translate }}
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  name="netmask"
                  #netmask="ngModel"
                  [(ngModel)]="
                    adapters[selectedTab].ipv4Settings.ipAddresses[0].Netmask
                  "
                  [pattern]="ipRegex"
                  [disabled]="!!adapters[selectedTab].ipv4Settings.dhcp"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="mt-20 d-flex align-items-center justify-content-between">
            <div class="mt-0 mr-25 text-nowrap">
              {{ 'settings-network.DefaultGateway' | translate }}
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  name="defaultGateway"
                  #defaultGateway="ngModel"
                  [(ngModel)]="
                    adapters[selectedTab].ipv4Settings.defaultGateway
                  "
                  [pattern]="ipRegex"
                  [disabled]="!!adapters[selectedTab].ipv4Settings.dhcp"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="mt-20 d-flex align-items-center justify-content-between">
            <div class="mt-0 mr-25 text-nowrap">
              {{ 'settings-network.DNSServer' | translate }}
            </div>
            <div>
              <mat-form-field>
                <input
                  matInput
                  name="dnsServer"
                  #dnsServer="ngModel"
                  [(ngModel)]="adapters[selectedTab].ipv4Settings.dnsserver[0]"
                  [pattern]="ipRegex"
                  [disabled]="!!adapters[selectedTab].ipv4Settings.dhcp"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-25">
            <button
              mat-button
              color="primary"
              [disabled]="mainForm.invalid || !mainForm.dirty"
              (click)="onSaveAdapters()"
            >
              {{ 'settings-network.Apply' | translate }}
            </button>
          </div>
        </form>
      </ng-container>

      <ng-container *ngSwitchCase="NetworkType.PROXY">
        <form #mainForm="ngForm">
          <div class="d-flex align-items-center justify-content-between mb-10">
            <div class="mr-30">
              {{ 'settings-network.UseProxy' | translate }}
            </div>
            <mat-slide-toggle
              class="ml-20"
              name="useProxy"
              [(ngModel)]="proxy.enabled"
            ></mat-slide-toggle>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <div class="mr-30">
              {{ 'settings-network.Host' | translate }}
            </div>

            <div>
              <mat-form-field>
                <input
                  matInput
                  name="ipAddr"
                  #ipAddr="ngModel"
                  [(ngModel)]="proxy.host"
                  [pattern]="hostRegex"
                  [required]="!!proxy.enabled"
                  [disabled]="!proxy.enabled"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <div class="mr-30">
              {{ 'settings-network.Port' | translate }}
            </div>

            <div>
              <mat-form-field>
                <input
                  matInput
                  name="port"
                  type="text"
                  min="1"
                  max="65535"
                  [(ngModel)]="proxy.port"
                  #port="ngModel"
                  [pattern]="portRegex"
                  [required]="!!proxy.enabled"
                  [disabled]="!proxy.enabled"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <div class="mr-30">
              {{ 'settings-network.Username' | translate }}
            </div>

            <div>
              <mat-form-field>
                <input
                  matInput
                  name="username"
                  [(ngModel)]="proxy.username"
                  [disabled]="!proxy.enabled"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <div class="mr-30">
              {{ 'settings-network.Password' | translate }}
            </div>

            <div>
              <mat-form-field>
                <input
                  matInput
                  name="password"
                  type="password"
                  [(ngModel)]="proxy.password"
                  [disabled]="!proxy.enabled"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-25">
            <button
              mat-button
              color="primary"
              [disabled]="mainForm.invalid || !mainForm.dirty"
              (click)="onSaveProxy()"
            >
              {{ 'settings-network.Apply' | translate }}
            </button>
          </div>
        </form>
      </ng-container>

      <ng-container *ngSwitchCase="NetworkType.NTP">
        <form #mainForm="ngForm">
          <div class="d-flex align-items-center justify-content-between mb-10">
            <div class="mr-30">
              {{ 'settings-network.UseNTPServer' | translate }}
            </div>
            <mat-slide-toggle
              class="ml-20"
              name="useNtp"
              [(ngModel)]="ntp.useNtp"
            ></mat-slide-toggle>
          </div>

          <div
            *ngIf="ntp.useNtp"
            class="d-flex align-items-center justify-content-between"
          >
            <div class="mr-30">
              {{ 'settings-network.SetNTPServer' | translate }}
            </div>
            <div>
              <mat-form-field
                *ngIf="ntp.reachable === false"
                class="nptUnreachable"
              >
                <input
                  class="timeTab"
                  matInput
                  name="ntpHost"
                  #ipAddr="ngModel"
                  [(ngModel)]="ntp.ntpHost"
                  [pattern]="hostRegex"
                  matTooltip="{{
                    'settings-network.nptUnreachableLong' | translate
                  }}"
                  matTooltipPosition="above"
                  [required]="!!ntp.useNtp"
                />
                <mat-icon class="color-danger" svgIcon="mdc:error"></mat-icon>
                <mat-hint>{{
                  'settings-network.nptUnreachable' | translate
                }}</mat-hint>
              </mat-form-field>
              <mat-form-field *ngIf="ntp.reachable">
                <input
                  matInput
                  name="ntpHost"
                  #ipAddr="ngModel"
                  [(ngModel)]="ntp.ntpHost"
                  [pattern]="hostRegex"
                  [required]="!!ntp.useNtp"
                />
                <mat-icon
                  class="color-success"
                  svgIcon="mdc:success"
                ></mat-icon>
              </mat-form-field>
            </div>
          </div>

          <ng-container *ngIf="!ntp.useNtp">
            <div class="d-flex align-items-center justify-content-between">
              <div class="mr-30">
                {{ 'settings-network.SetCurrentTime' | translate }}
              </div>

              <div>
                <mat-form-field>
                  <input
                    name="currentTime"
                    matInput
                    [ngxMatDatetimePicker]="picker"
                    [(ngModel)]="this.ntp.currentTime"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="$any(picker)"
                  ></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                </mat-form-field>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="mr-30">
                {{ 'settings-network.ChooseTimeZone' | translate }}
              </div>

              <div>
                <mat-form-field>
                  <mat-select
                    name="timezone"
                    [(ngModel)]="ntp.timezone"
                    required
                  >
                    <mat-option>
                      <ngx-mat-select-search
                        placeholderLabel="Search..."
                        noEntriesFoundLabel="No results found"
                        [(ngModel)]="timezoneOptionKeyphrase"
                        [ngModelOptions]="{ standalone: true }"
                      ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                      *ngFor="let opt of timezoneOptionsSearchResults"
                      [value]="opt"
                    >
                      {{ opt }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </ng-container>

          <div class="d-flex justify-content-end mt-25">
            <button
              mat-button
              color="primary"
              [disabled]="mainForm.invalid || !mainForm.dirty"
              (click)="onSaveNtp()"
            >
              {{ 'settings-network.Apply' | translate }}
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>

<div class="loading-block" *ngIf="showLoading">
  <mat-spinner></mat-spinner>
</div>
