<div mat-dialog-content>
  <p>
    <mat-spinner></mat-spinner>
  </p>
  <ng-container *ngIf="checkingForUpdates">
    <h3 class="text-center">
      {{ 'system-information.CheckUpdate' | translate }}
    </h3>
    <p class="text-center">
      {{ 'system-information.CheckUpdateDescr' | translate }}
    </p>
  </ng-container>
  <ng-container *ngIf="updateInProgress">
    <h3 class="text-center">
      {{ 'system-information.InstallingUpdate' | translate }}
    </h3>
    <p class="text-center">
      {{ 'system-information.InstallingUpdateDescr' | translate }}
    </p>
  </ng-container>
</div>
