<h1 mat-dialog-title>
  {{ 'settings-virtual-data-point.SetEnumeration' | translate }}
</h1>

<div mat-dialog-content>
  <div class="mt-20 d-flex align-items-center justify-content-end">
    <div class="mt-0 mr-25 text-nowrap">
      {{ 'settings-virtual-data-point.DefaultValue' | translate }}
    </div>
    <div>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="defaultValue"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="set-enumeration-list" cdkDropList (cdkDropListDropped)="onReorder($event)">
    <div class="set-enumeration-box" *ngFor="let row of rows; let idx = index" cdkDrag>
      <div class="set-enumeration-custom-placeholder" *cdkDragPlaceholder></div>
      <div class="row w-100">
        <div class="col-3">
          <mat-form-field appearance="legacy">
            <mat-label>{{
              'settings-virtual-data-point.SelectInput' | translate
            }}</mat-label>
            <mat-select
              [(value)]="row.source"
            >
              <mat-option *ngFor="let sourceOption of sourceOptions"
                [value]="sourceOption.id"
                required
                >{{ getSourcePrefix(sourceOption) }} {{ sourceOption.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="legacy">
            <mat-label>{{
              'settings-virtual-data-point.CurrentLiveValue' | translate
            }}</mat-label>
            <input
              matInput
              [ngModel]="getLiveDataValue(row.source)"
              readonly
            />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="legacy">
            <mat-label>{{
              'settings-virtual-data-point.ReturnValueIfTrue' | translate
            }}</mat-label>
            <input
              matInput
              [(ngModel)]="row.returnValueIfTrue"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-3">
          <div class="d-flex flex-column">
            <mat-label>&nbsp;</mat-label>
            <div class="d-flex">
              <mat-button-toggle
                (click)="onDelete(idx)"
                [matTooltip]="'settings-virtual-data-point.Delete' | translate"
                matTooltipPosition="above"
                ><mat-icon>delete_outline</mat-icon></mat-button-toggle
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    type="button"
    mat-mini-fab
    color="primary"
    class="wh-32 border-round mat-elevation-z0"
    style="margin-top: 15px;"
    (click)="onAdd()"
    [matTooltip]="
      'settings-virtual-data-point.AddSchedule' | translate
    "
    matTooltipPosition="above"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<div mat-dialog-actions class="justify-content-end">
  <button type="button" mat-button color="secondary" (click)="onCancel()">
    {{ 'settings-virtual-data-point.Cancel' | translate }}
  </button>
  <button type="submit" mat-button color="primary" (click)="onSave()">
    {{ 'settings-virtual-data-point.Save' | translate }}
  </button>
</div>
