<h3>{{ 'settings-data-sink.CustomOpcUaVariables' | translate }}</h3>
<ngx-datatable
  [headerHeight]="50"
  rowHeight="auto"
  [rows]="rows"
  class="overflow-auto select-type-table"
>
  <ngx-datatable-column
    [name]="'settings-data-sink.Name' | translate"
    prop="name"
    [minWidth]="80"
    [maxWidth]="300"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div
        class="text-ellipsis"
        [class.color-disabled]="isExisting(row.address)"
        [title]="value"
      >
        {{ value }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [name]="'settings-data-sink.Address' | translate"
    prop="address"
    [minWidth]="80"
    [maxWidth]="300"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div
        class="text-ellipsis"
        [class.color-disabled]="isExisting(row.address)"
        [title]="value"
      >
        {{ value }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [name]="'settings-data-sink.DataType' | translate"
    prop="dataType"
    [minWidth]="80"
    [maxWidth]="300"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <ng-container [ngSwitch]="value">
        <ng-container *ngSwitchCase="DataPointDataType.String">{{
          'data-type.String' | translate
        }}</ng-container>
        <ng-container *ngSwitchCase="DataPointDataType.Double">{{
          'data-type.Double' | translate
        }}</ng-container>
        <ng-container *ngSwitchCase="DataPointDataType.Byte">{{
          'data-type.Byte' | translate
        }}</ng-container>
        <ng-container *ngSwitchCase="DataPointDataType.UInt16">{{
          'data-type.UInt16' | translate
        }}</ng-container>
        <ng-container *ngSwitchCase="DataPointDataType.UInt32">{{
          'data-type.UInt32' | translate
        }}</ng-container>
        <ng-container *ngSwitchCase="DataPointDataType.Boolean">{{
          'data-type.Boolean' | translate
        }}</ng-container>
        <ng-container *ngSwitchDefault>{{ value | uppercase }}</ng-container>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [name]="'settings-data-sink.InitialValue' | translate"
    prop="initialValue"
    [minWidth]="80"
    [maxWidth]="300"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div
        class="text-ellipsis"
        [class.color-disabled]="isExisting(row.address)"
        [title]="value"
      >
        {{ value }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [name]="'settings-data-sink.Actions' | translate"
    cellClass="button-cell"
    [sortable]="false"
    [minWidth]="80"
    [maxWidth]="300"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <mat-button-toggle-group>
        <mat-button-toggle
          [matTooltip]="'settings-data-sink.Edit' | translate"
          [disabled]="isExisting(row.address)"
          matTooltipPosition="above"
          (click)="!isExisting(row.address) && onEdit(row)"
          ><mat-icon svgIcon="mdc:edit"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          [matTooltip]="'settings-data-sink.Delete' | translate"
          [disabled]="isExisting(row.address)"
          matTooltipPosition="above"
          (click)="!isExisting(row.address) && onDelete(row)"
          ><mat-icon svgIcon="mdc:delete"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          *ngIf="isExisting(row.address)"
          [matTooltip]="'settings-data-sink.AlreadyExistDataPoint' | translate"
          matTooltipPosition="above"
          [disabled]="true"
          ><mat-icon svgIcon="mdc:arrow-right"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          *ngIf="!isExisting(row.address)"
          [matTooltip]="'settings-data-sink.SelectVariable' | translate"
          matTooltipPosition="above"
          (click)="onSelect(row)"
          ><mat-icon svgIcon="mdc:arrow-right"></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
