<div class="d-flex align-items-center">
  <h1 mat-dialog-title>{{ 'settings-data-sink.Mapping' | translate }}</h1>
  <button
    type="button"
    [disabled]="isEditing"
    mat-mini-fab
    color="primary"
    class="wh-32 border-round ml-15"
    (click)="onAdd()"
    [matTooltip]="'settings-data-sink.AddMapping' | translate"
    matTooltipPosition="above"
    style="margin-top: -15px;"
  >
    <mat-icon svgIcon="mdc:order-add"></mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <ngx-datatable
    [headerHeight]="50"
    rowHeight="auto"
    [rows]="rows"
    class="overflow-auto select-type-table"
  >
    <ngx-datatable-column
      [name]="'settings-data-sink.From' | translate"
      prop="from"
      [flexGrow]="1"
      cellClass="input-cell"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          *ngIf="unsavedRowIndex !== rowIndex"
          class="text-ellipsis"
          [title]="value"
        >
          {{ value }}
        </div>
        <input
          *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
          type="text"
          class="w-100"
          [ngModel]="value"
          (ngModelChange)="unsavedRow.from = $event"
          [matTooltip]="'settings-data-sink.DuplicatedKeys' | translate"
          matTooltipPosition="above"
          [matTooltipDisabled]="
            !isDuplicatingField('from', unsavedRowIndex!)
          "
          [class.border-danger]="
            isDuplicatingField('from', unsavedRowIndex!)
          "
          autofocus
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.To' | translate"
      prop="to"
      [flexGrow]="1"
      cellClass="input-cell"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          *ngIf="unsavedRowIndex !== rowIndex"
          class="text-ellipsis"
          [title]="value"
        >
          {{ value }}
        </div>
        <input
          *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
          type="text"
          class="w-100"
          [ngModel]="value"
          (ngModelChange)="unsavedRow.to = $event"
          autofocus
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-sink.Actions' | translate"
      [flexGrow]="1"
      cellClass="button-cell"
      [sortable]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <mat-button-toggle-group
          *ngIf="unsavedRowIndex !== rowIndex"
          #group="matButtonToggleGroup"
        >
          <mat-button-toggle
            (click)="onEditStart(rowIndex, row); group.value = null"
            [matTooltip]="'settings-data-sink.Edit' | translate"
            matTooltipPosition="above"
            ><mat-icon svgIcon="mdc:edit"></mat-icon></mat-button-toggle
          >
          <mat-button-toggle
            (click)="onDelete(row); group.value = null"
            [matTooltip]="'settings-data-sink.Delete' | translate"
            matTooltipPosition="above"
            ><mat-icon svgIcon="mdc:delete"></mat-icon></mat-button-toggle
          >
        </mat-button-toggle-group>
        <mat-button-toggle-group
          *ngIf="unsavedRowIndex === rowIndex"
          #group="matButtonToggleGroup"
        >
          <mat-button-toggle
            (click)="
              !isDuplicatingField('from', unsavedRowIndex!) &&
                onEditEnd();
              group.value = null
            "
            [matTooltip]="'settings-data-sink.Save' | translate"
            matTooltipPosition="above"
            ><mat-icon class="color-success" svgIcon="mdc:checkmark"></mat-icon></mat-button-toggle
          >
          <mat-button-toggle
            (click)="onEditCancel(); group.value = null"
            [matTooltip]="'settings-data-sink.Cancel' | translate"
            matTooltipPosition="above"
            ><mat-icon class="color-error" svgIcon="mdc:close"></mat-icon></mat-button-toggle
          >
        </mat-button-toggle-group>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div mat-dialog-actions class="d-flex align-items-center justify-content-end">
  <button
    type="submit"
    mat-button
    color="primary"
    [disabled]="isEditing"
    (click)="onSave()"
  >
    {{ 'settings-data-sink.Save' | translate }}
  </button>
  <button type="button" mat-button (click)="onCancel()">
    {{ 'settings-data-sink.Cancel' | translate }}
  </button>
</div>
