<div class="layout-header">
  <h2 class="layout-header__title mt-0 mb-0 mr-25 ml-25">{{ 'settings-change-password.ChangePasswordTitle' | translate }}</h2>
</div>

<mat-divider></mat-divider>

<div class="p-25 row">
  <div class="col-12 col-md-6 col-lg-4">
    <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
      <mat-form-field>
        <mat-label>{{ 'settings-change-password.OldPassword' | translate }}</mat-label>
        <input
          matInput
          type="password"
          name="oldPassword"
          [(ngModel)]="changePassword.oldPassword"
          [required]="true"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'settings-change-password.NewPassword' | translate }}</mat-label>
        <input
          matInput
          type="password"
          name="newPassword"
          [(ngModel)]="changePassword.newPassword"
          [required]="true"
          (ngModelChange)="validateConfirmPassword(form)"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'settings-change-password.ConfirmPassword' | translate }}</mat-label>
        <input
          matInput
          type="password"
          name="confirmPassword"
          [(ngModel)]="changePassword.confirmPassword"
          [required]="true"
          (ngModelChange)="validateConfirmPassword(form)"
        />
      </mat-form-field>

      <div class="text-center">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >{{ 'settings-change-password.ChangePassword' | translate }}</button>
      </div>
    </form>
  </div>
</div>
