<div class="container">
  <div class="d-flex align-items-center justify-content-between pt-20">
    <p style="font-size: 32px">
      <span style="font-weight: 800">IoT</span>
      <span style="font-style: italic">connector flex</span>
    </p>
    <img alt="logotype" class="brand" src="/assets/images/logo-login.png" />
  </div>
  <div class="layout-header">
    <h2 class="layout-header__title mb-0 mt-0">
      {{ 'commissioning.Welcome' | translate }}
    </h2>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-60">
    <div class="commissioning-group">
      <div class="commissioning-item">
        <h3 class="mt-0 mb-0">
          {{ 'commissioning.MachineInformation' | translate }}
        </h3>
        <div class="row">
          <div class="col-12 col-md-5">
            <p>
              {{ 'commissioning.Serial' | translate }}:
              {{
                machineInformation.Serial ||
                  ('commissioning.Unknown' | translate)
              }}
            </p>
            <p>
              {{ 'commissioning.ControlManufacturer' | translate }}:
              {{
                machineInformation.ControlManufacturer ||
                  ('commissioning.Unknown' | translate)
              }}
            </p>
          </div>
          <div class="col-12 col-md-5">
            <p>
              {{ 'commissioning.ControlType' | translate }}:
              {{
                machineInformation.ControlType ||
                  ('commissioning.Unknown' | translate)
              }}
            </p>
            <p>
              {{ 'commissioning.Model' | translate }}:
              {{
                machineInformation.Model ||
                  ('commissioning.Unknown' | translate)
              }}
            </p>
          </div>
          <div class="col-12 col-md-2 text-center align-self-center">
            <mat-icon
              class="color-success"
              *ngIf="!isEmptyMachineInformation()"
              svgIcon="mdc:success"
            ></mat-icon>
            <mat-icon
              class="color-danger"
              *ngIf="isEmptyMachineInformation()"
              svgIcon="mdc:error"
            ></mat-icon>
          </div>
        </div>
      </div>
      <div class="commissioning-item">
        <h3 class="mt-0 mb-0">
          {{ 'commissioning.Ethernet' | translate }}
        </h3>
        <div class="row">
          <div class="col-12 col-md-5">
            <p>
              {{ 'commissioning.State' | translate }}:
              {{
                (isConnected() === true
                  ? 'commissioning.Connected'
                  : isConnected() === false
                  ? 'commissioning.Disconnected'
                  : 'commissioning.Unknown'
                ) | translate
              }}
            </p>
            <p>
              {{ 'commissioning.Mac' | translate }}:
              {{ adapter?.macAddress || ('commissioning.Unknown' | translate) }}
            </p>
          </div>
          <div class="col-12 col-md-5">
            <p>
              {{ 'commissioning.IP' | translate }}:
              {{
                adapter?.ipv4Settings?.ipAddresses[0].Address ||
                  ('commissioning.Unknown' | translate)
              }}
            </p>
            <p>
              {{ 'commissioning.Netmask' | translate }}:
              {{
                adapter?.ipv4Settings?.ipAddresses[0].Netmask ||
                  ('commissioning.Unknown' | translate)
              }}
            </p>
          </div>
          <div class="col-12 col-md-2 text-center align-self-center">
            <mat-icon
              class="color-success"
              *ngIf="!isEmptyAdapter() && isConnected()"
              svgIcon="mdc:success"
            ></mat-icon>
            <mat-icon
              class="color-danger"
              *ngIf="isEmptyAdapter() || !isConnected()"
              svgIcon="mdc:error"
            ></mat-icon>
          </div>
        </div>
      </div>
      <div class="commissioning-item">
        <h3 class="mt-0 mb-0">
          {{ 'commissioning.CELOSXchange' | translate }}
        </h3>
        <div class="row">
          <div class="col-12 col-md-10">
            <p>
              {{ 'commissioning.State' | translate }}:
              {{
                (registration === true
                  ? 'commissioning.RegisteredSuccess'
                  : registration === false
                  ? 'commissioning.RegisteredError'
                  : 'commissioning.Unknown'
                ) | translate
              }}
            </p>
          </div>
          <div class="col-12 col-md-2 text-center align-self-center">
            <mat-icon
              class="color-success"
              *ngIf="registration"
              svgIcon="mdc:success"
            ></mat-icon>
            <mat-icon
              class="color-danger"
              *ngIf="!registration"
              svgIcon="mdc:error"
            ></mat-icon>
          </div>
        </div>
      </div>
      <div class="commissioning-item">
        <h3 class="mt-0 mb-0">
          {{ 'commissioning.SoftwareComponents' | translate }}
        </h3>
        <div class="row">
          <div class="col-12 col-md-5">
            <p>
              {{ DataHubModuleName.MdcWebServer }}
              {{ dataHubsModules[DataHubModuleName.MdcWebServer]?.Version }}:
              {{
                dataHubsModules[DataHubModuleName.MdcWebServer]?.Status ||
                  DataHubModuleStatus.Unknown
              }}
            </p>
            <p>
              {{ DataHubModuleName.MtconnectAgent }}
              {{ dataHubsModules[DataHubModuleName.MtconnectAgent]?.Version }}:
              {{
                dataHubsModules[DataHubModuleName.MtconnectAgent]?.Status ||
                  DataHubModuleStatus.Unknown
              }}
            </p>
            <p>
              {{ DataHubModuleName.Mdclight }}
              {{ dataHubsModules[DataHubModuleName.Mdclight]?.Version }}:
              {{
                dataHubsModules[DataHubModuleName.Mdclight]?.Status ||
                  DataHubModuleStatus.Unknown
              }}
            </p>
          </div>
          <div class="col-12 col-md-5">
            <p>
              {{ DataHubModuleName.EdgeHub }}
              {{ dataHubsModules[DataHubModuleName.EdgeHub]?.Version }}:
              {{
                dataHubsModules[DataHubModuleName.EdgeHub]?.Status ||
                  DataHubModuleStatus.Unknown
              }}
            </p>
            <p>
              {{ DataHubModuleName.EdgeAgent }}
              {{ dataHubsModules[DataHubModuleName.EdgeAgent]?.Version }}:
              {{
                dataHubsModules[DataHubModuleName.EdgeAgent]?.Status ||
                  DataHubModuleStatus.Unknown
              }}
            </p>
          </div>
          <div class="col-12 col-md-2 text-center align-self-center">
            <mat-icon
              class="color-success"
              *ngIf="isModulesRunning()"
              svgIcon="mdc:success"
            ></mat-icon>
            <mat-icon
              class="color-danger"
              *ngIf="!isModulesRunning()"
              svgIcon="mdc:error"
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button
      mat-button
      color="primary"
      [disabled]="
        isEmptyMachineInformation() ||
        isEmptyAdapter() ||
        !isConnected() ||
        !registration ||
        !isModulesRunning()
      "
      (click)="onApply()"
    >
      {{ 'commissioning.FinishCommissioning' | translate }}
    </button>
  </div>
</div>
