<mat-stepper class="mt-20" [linear]="true" #stepper>
  <mat-step [stepControl]="languageForm">
    <ng-template matStepLabel>Select Language</ng-template>
    <form [formGroup]="languageForm" class="pt-20">
      <mat-form-field appearance="legacy">
        <mat-label>{{
          'quick-start.Language' | translate
          }}</mat-label>
        <mat-select
          formControlName="lang"
        >
          <mat-option value="en">{{
            'settings-general.English' | translate
            }}</mat-option>
          <mat-option value="de">{{
            'settings-general.Deutsch' | translate
            }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="sourceForm">
    <ng-template matStepLabel>Select Source</ng-template>
    <form [formGroup]="sourceForm" class="pt-20">
      <div>
        <mat-radio-group formControlName="source" class="source-radio-group">
          <mat-radio-button class="source-radio-button" *ngFor="let source of sources" [value]="source.protocol">
            <h2 class="mt-0 mb-0">{{ source.protocol }}</h2>
            <p class="mt-0">{{ 'quick-start.DataSourceDescriptions.' + source.protocol | translate }}</p>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <button mat-raised-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="applicationInterfacesForm">
    <ng-template matStepLabel>Select Application Interfaces</ng-template>
    <form [formGroup]="applicationInterfacesForm" class="pt-20">
      <button mat-raised-button matStepperNext>Save</button>
    </form>
  </mat-step>
</mat-stepper>
