.source-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.source-radio-button {
  margin: 5px;

  ::ng-deep {
    .mat-radio-label {
      align-items: flex-start;
      white-space: normal;
    }
  }
}

.source-checkbox {
  ::ng-deep {
    .mat-checkbox-layout {
      align-items: flex-start;
    }
    .mat-checkbox-inner-container {
      margin: 0 10px 0 0;
    }
  }
}
