<p *ngIf="isBusy" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(127,127,127,0.4); z-index: 10;">
</p>

<h2 class="m-25">{{ 'settings-data-sink.DataSink' |translate }}</h2>

<mat-divider></mat-divider>

<div class="d-block m-20">
    <nav mat-tab-nav-bar mat-align-tabs="center">
        <a mat-tab-link *ngFor="let item of dataSinkList"
            (click)="switchDataSink(item)"
            [active]="dataSink?.id === item.id">{{item.name}}</a>
    </nav>

    <ng-container [ngSwitch]="dataSink?.protocol">
        <app-data-sink-mt-connect *ngSwitchCase="Protocol.MTConnect" [dataSink]="dataSink"></app-data-sink-mt-connect>
        <app-data-sink-mt-connect *ngSwitchCase="Protocol.OPC" [dataSink]="dataSink"></app-data-sink-mt-connect>
        <app-data-sink-mt-connect *ngSwitchCase="Protocol.DH" [dataSink]="dataSink"></app-data-sink-mt-connect>
    </ng-container>

</div>