<div class="layout-header">
  <h2 class="layout-header__title mt-0 mb-0 mr-25 ml-25">{{ 'settings-data-sink.DataSink' | translate }}</h2>
  <div class="layout-header__tabs">
    <mat-tab-group mat-align-tabs="center" #tabs
      [selectedIndex]="dataSinkIndex"
      (selectedIndexChange)="onDataSinkIndexChange($event)">
      <mat-tab *ngFor="let item of dataSinkList"
        [label]="'settings-data-sink.Tabs.' + item.protocol | translate"
        ></mat-tab>
    </mat-tab-group>
  </div>
</div>

<mat-divider></mat-divider>

<div class="d-block m-20">
  <ng-container [ngSwitch]="dataSink?.protocol">
    <app-data-sink-mt-connect
      *ngSwitchCase="Protocol.MTConnect"
      [dataSink]="dataSink"
      (dataPointsChange)="onDataPoints($event)"
    ></app-data-sink-mt-connect>
    <app-data-sink-mt-connect
      *ngSwitchCase="Protocol.OPC"
      [dataSink]="dataSink"
      (dataPointsChange)="onDataPoints($event)"
    ></app-data-sink-mt-connect>
    <app-data-sink-mt-connect
      *ngSwitchCase="Protocol.DH"
      [dataSink]="dataSink"
      (dataPointsChange)="onDataPoints($event)"
    ></app-data-sink-mt-connect>
  </ng-container>
</div>
