.status {
  min-width: 290px;
  max-width: 310px;

  @media (min-width: 1200px) {
    margin-left: auto !important;
  }
}

.has-data-mapping {
  font-size: 15px;
  height: 15px;
  position: relative; 
  top: 3px; 
}