<p
  *ngIf="isBusy"
  style="
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0.4);
    z-index: 10;
  "
></p>

<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="row" *ngIf="dataSink?.protocol !== Protocol.DH">
      <div class="col-12">
        <div class="row mt-20 mb-25">
          <div class="col-6 col-lg-5">
            {{ 'settings-data-sink.Enabled' | translate }}
          </div>
          <mat-slide-toggle
            class="col-6 col-lg-4"
            [ngModel]="dataSink?.enabled"
            (ngModelChange)="updateEnabled($event)"
          ></mat-slide-toggle>
        </div>
      </div>
    </div>

    <ng-container [ngSwitch]="dataSink?.protocol">
      <div class="row" *ngSwitchCase="Protocol.OPC">
        <div class="col-12">
          <div class="row d-flex align-items-center">
            <div class="col-12 col-md-5">
              <label>{{ 'settings-data-sink.OPCUAAuthenticationLevel' | translate }}</label>
            </div>
            <div class="col-12 col-md-7">
              <mat-form-field>
                <mat-select [(ngModel)]="auth.type" (blur)="onSaveAuth()">
                  <mat-option *ngFor="let type of DataSinkAuthTypes" [value]="type">{{ 'settings-data-sink.AuthenticationLevels.' + type | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row d-flex align-items-center">
            <div class="col-12 col-md-5">
              <label>{{ 'settings-data-sink.OPCUAServerUsername' | translate }}</label>
            </div>
            <div class="col-12 col-md-7">
              <mat-form-field>
                <input
                  matInput
                  name="OPCUAServerUsername"
                  [(ngModel)]="auth.userName"
                  autocomplete="off"
                  (focusout)="onSaveAuth()"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row d-flex align-items-center">
            <div class="col-12 col-md-5">
              <label>{{ 'settings-data-sink.OPCUAServerPassword' | translate }}</label>
            </div>
            <div class="col-12 col-md-7">
              <mat-form-field>
                <input
                  matInput
                  name="OPCUAServerPassword"
                  type="password"
                  [(ngModel)]="auth.password"
                  autocomplete="off"
                  (focusout)="onSaveAuth()"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="Protocol.DH">
        <div class="row">
          <div class="col-12">
            <div class="row mt-20 mb-25">
              <div class="col-6 col-lg-5">
                {{ 'settings-data-sink.UserDataState' | translate }}
              </div>
              <mat-slide-toggle
                class="col-6 col-lg-4"
                [checked]="dataSink?.enabled"
                [disabled]="true"
              ></mat-slide-toggle>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6 col-lg-5 mt-20">
                {{ 'settings-data-sink.AlarmState' | translate }}
              </div>
              <mat-slide-toggle
                class="col-6 col-lg-4 mt-20"
                [checked]="dataSink?.enabled"
                [disabled]="true"
              ></mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="col-12 col-sm-4 offset-sm-4 col-lg-2 offset-lg-6" *ngIf="connection">
    <div class="mt-25">
      {{ 'settings-data-sink.Connection' | translate }}
    </div>
    <div
      class="mt-10 d-flex align-items-center justify-content-between"
      style="border: 1px solid #ccc; padding: 10px; border-radius: 6px"
    >
      <div>
        <div style="font-weight: 600">
          <ng-container [ngSwitch]="connection.status">
            <ng-container *ngSwitchCase="DataSinkConnectionStatus.Connected">
              {{ 'settings-data-sink.Running' | translate }}
            </ng-container>
            <ng-container *ngSwitchCase="DataSinkConnectionStatus.Disconnected">
              {{ 'settings-data-sink.Disconnected' | translate }}
            </ng-container>
          </ng-container>
        </div>
        <small style="color: #999">{{
          'settings-data-sink.ServiceState' | translate
          }}</small>
      </div>
      <div class="mr-10">
        <ng-container [ngSwitch]="connection.status">
          <ng-container *ngSwitchCase="DataSinkConnectionStatus.Connected">
            <mat-icon class="color-success">check_circle_outline</mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="DataSinkConnectionStatus.Disconnected">
            <mat-icon class="color-danger">highlight_off</mat-icon>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="dataSink?.protocol !== Protocol.DH">
  <div class="col-12">
    <div class="d-flex align-items-center">
      <h3>{{ 'settings-data-sink.DataPoints' | translate }}</h3>
      <button
        type="button"
        [disabled]="isEditing"
        mat-mini-fab
        color="primary"
        class="wh-32 border-round ml-15"
        (click)="onAdd()"
        [matTooltip]="'settings-data-sink.AddDataPoint' | translate"
        matTooltipPosition="above"
      >
        <mat-icon style="margin-top: -10px">add</mat-icon>
      </button>
    </div>

    <ngx-datatable
      [headerHeight]="50"
      [rows]="datapointRows"
      rowHeight="auto"
      columnMode="flex"
    >
      <ngx-datatable-column
        [name]="'settings-data-sink.Name' | translate"
        prop="name"
        [flexGrow]="1"
        cellClass="input-cell"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <div
            *ngIf="unsavedRowIndex !== rowIndex"
            class="text-ellipsis"
            [title]="value"
          >
            {{ value }}
          </div>
          <input
            *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
            type="text"
            class="w-100"
            [ngModel]="value"
            (ngModelChange)="unsavedRow.name = $event"
            autofocus
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="(dataSink?.protocol !== Protocol.OPC ? 'settings-data-sink.DataItem' : 'settings-data-sink.Address') | translate"
        prop="address"
        [flexGrow]="1"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <div
            *ngIf="unsavedRowIndex !== rowIndex"
            class="text-ellipsis"
            [title]="value"
          >
            {{ value }}
          </div>
          <mat-select
            *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
            [ngModel]="value"
            (ngModelChange)="unsavedRow && (unsavedRow.address = $event)"
          >
            <mat-option
              *ngFor="let item of MTConnectItems"
              [value]="item.address"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        *ngIf="dataSink?.protocol !== Protocol.OPC"
        [name]="'settings-data-sink.Type' | translate"
        prop="type"
        [flexGrow]="1"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <span *ngIf="unsavedRowIndex !== rowIndex">
            <ng-container [ngSwitch]="value">
              <ng-container *ngSwitchCase="DataPointType.Event">{{
                'settings-data-sink.Event' | translate
              }}</ng-container>
              <ng-container *ngSwitchCase="DataPointType.Condition">{{
                'settings-data-sink.Condition' | translate
              }}</ng-container>
            </ng-container>
          </span>
          <mat-select
            *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
            [ngModel]="value"
            (ngModelChange)="unsavedRow && (unsavedRow.type = $event)"
          >
            <mat-option [value]="DataPointType.Event">{{
              'settings-data-sink.Event' | translate
            }}</mat-option>
            <mat-option [value]="DataPointType.Condition">{{
              'settings-data-sink.Condition' | translate
            }}</mat-option>
          </mat-select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'settings-data-sink.InitialValue' | translate"
        prop="initialValue"
        [flexGrow]="1"
        cellClass="input-cell"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <div
            *ngIf="unsavedRowIndex !== rowIndex"
            class="text-ellipsis"
            [title]="value"
          >
            {{ value }}
          </div>
          <input
            *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
            type="text"
            class="w-100"
            [ngModel]="value"
            (ngModelChange)="unsavedRow && (unsavedRow.initialValue = $event)"
            autofocus
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'settings-data-sink.Map' | translate"
        prop="map"
        [flexGrow]="1.5"
        cellClass="input-cell button-cell"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <ng-container *ngIf="unsavedRowIndex !== rowIndex">
            <div class="text-ellipsis">
              <span *ngFor="let item of parseMap(value)"
                >{{ item[0] }} -> {{ item[1] }}
              </span>
            </div>
          </ng-container>
          <div
            *ngIf="unsavedRowIndex === rowIndex"
            class="d-flex align-items-center"
          >
            <div class="text-ellipsis">
              <span *ngFor="let item of parseMap(unsavedRow?.map)"
                >{{ item[0] }} -> {{ item[1] }}
              </span>
            </div>
            <mat-button-toggle-group class="ml-10">
              <mat-button-toggle
                class="small-button"
                (click)="unsavedRow && onMapEdit(unsavedRow)"
                [matTooltip]="'settings-data-sink.Select' | translate"
                matTooltipPosition="above"
                ><mat-icon>open_in_new</mat-icon></mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'settings-data-sink.Actions' | translate"
        [flexGrow]="1"
        cellClass="button-cell"
        [sortable]="false"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <mat-button-toggle-group *ngIf="unsavedRowIndex !== rowIndex">
            <mat-button-toggle
              (click)="onEditStart(rowIndex, row)"
              [matTooltip]="'settings-data-sink.Edit' | translate"
              matTooltipPosition="above"
              ><mat-icon>edit</mat-icon></mat-button-toggle
            >
            <mat-button-toggle
              (click)="onDelete(row)"
              [matTooltip]="'settings-data-sink.Delete' | translate"
              matTooltipPosition="above"
              ><mat-icon>delete_outline</mat-icon></mat-button-toggle
            >
          </mat-button-toggle-group>
          <mat-button-toggle-group *ngIf="unsavedRowIndex === rowIndex">
            <mat-button-toggle
              (click)="onEditEnd()"
              [matTooltip]="'settings-data-sink.Save' | translate"
              matTooltipPosition="above"
              ><mat-icon class="color-success"
                >check</mat-icon
              ></mat-button-toggle
            >
            <mat-button-toggle
              (click)="onEditCancel()"
              [matTooltip]="'settings-data-sink.Cancel' | translate"
              matTooltipPosition="above"
              ><mat-icon class="color-error">close</mat-icon></mat-button-toggle
            >
          </mat-button-toggle-group>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
