<div class="layout-header">
  <h2 class="layout-header__title mt-0 mb-0 mr-25 ml-25">
    {{ 'settings-general.General' | translate }}
  </h2>
</div>

<mat-divider></mat-divider>

<div class="mr-25 ml-25 mb-25">
  <div class="row">
    <div class="col-12 col-lg-5">
      <mat-expansion-panel [expanded]="true" class="mt-25">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings-general.Language' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="legacy">
          <mat-label>{{
            'settings-general.CELOSLanguage' | translate
          }}</mat-label>
          <mat-select
            disableOptionCentering="true"
            [value]="currentLang"
            (valueChange)="onLanguageChange($event)"
          >
            <mat-option value="en">{{
              'settings-general.English' | translate
            }}</mat-option>
            <mat-option value="de">{{
              'settings-general.Deutsch' | translate
            }}</mat-option>
            <mat-option value="ja">{{
              'settings-general.Japanese' | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true" class="mt-25">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings-general.DeviceInfo' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-device-info></app-device-info>
      </mat-expansion-panel>
    </div>
    <div class="col-12 col-lg-5">
      <mat-expansion-panel [expanded]="true" class="mt-25">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings-general.RestartDevice' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <button mat-button color="secondary" (click)="restart()">
            {{ 'settings-general.RestartNow' | translate }}
          </button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true" class="mt-25">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings-general.Logs' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <button mat-button color="secondary" (click)="downloadLogs()">
            {{ 'settings-general.ExportLogs' | translate }}
            <mat-spinner
              diameter="20"
              *ngIf="downloadLogs$ | async as download"
              [mode]="
                download.state == 'PENDING' ? 'indeterminate' : 'determinate'
              "
              [value]="download.progress"
            ></mat-spinner>
          </button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true" class="mt-25">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings-general.Templates' | translate }}
            <span
              ><app-doc-btn
                link="/help{{
                  'common.LanguageDocumentationPath' | translate
                }}/docs/#configuration-wizard"
                tooltip="{{ 'quick-start.WhatIsTemplate' | translate }}"
              ></app-doc-btn
            ></span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <p class="template-label">
            {{ 'settings-general.CurrentTemplate' | translate }}:
            {{ currentTemplate | async | translate }}
          </p>
          <button mat-button color="secondary" [routerLink]="['/quick-start']">
            {{ 'settings-general.OpenConfigurationWizard' | translate }}
          </button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true" class="mt-25">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'settings-general.BackupAndRestore' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <div class="mb-10">
            <button
              mat-button
              color="secondary"
              (click)="downloadBackup()"
              class="d-block mb-20"
            >
              {{ 'settings-general.BackupConfiguration' | translate }}
              <mat-spinner
                diameter="20"
                *ngIf="downloadBackup$ | async as download"
                [mode]="
                  download.state == 'PENDING' ? 'indeterminate' : 'determinate'
                "
                [value]="download.progress"
              ></mat-spinner>
            </button>

            <button
              mat-button
              color="secondary"
              class="d-block"
              (click)="fileInput.click()"
            >
              {{ 'settings-general.RestoreConfiguration' | translate }}
            </button>
            <input
              style="display: none !important"
              type="file"
              accept="application/JSON"
              #fileInput
              (change)="onRestoreFileChange($event)"
            />
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>

<div class="loading-block" *ngIf="showLoadingRestart">
  <mat-spinner></mat-spinner>
</div>
