<h1 class="header">{{ 'settings-general.General' |translate }}</h1>

<mat-divider></mat-divider>

<mat-expansion-panel class="card" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ 'settings-general.Language' | translate }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <form>
        <mat-form-field appearance="fill">
            <mat-label class="label">{{ 'settings-general.MDCLanguage' | translate }}</mat-label>
            <mat-select [value]="currentLang" (valueChange)="onLanguageChange($event)">
                <mat-option value="en">{{ 'settings-general.English' | translate }}</mat-option>
                <mat-option value="de">{{ 'settings-general.Deutsch' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-expansion-panel>