<h1 class="m-25">{{ 'settings-general.General' |translate }}</h1>

<mat-divider></mat-divider>

<div class="row">
    <div class="col-12 col-lg-5">

        <mat-expansion-panel [expanded]="true" class="m-30">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'settings-general.Language' | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field appearance="legacy">
                <mat-label>{{ 'settings-general.CELOSLanguage' | translate }}</mat-label>
                <mat-select [value]="currentLang" (valueChange)="onLanguageChange($event)">
                    <mat-option value="en">{{ 'settings-general.English' | translate }}</mat-option>
                    <mat-option value="de">{{ 'settings-general.Deutsch' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>

    </div>
</div>