/*
.mat-accordion {
    display: block;
    @include shadow-box(4px 0px 0px 4px);

    .mat-expansion-panel {
      border-radius: unset;

      &:first-of-type {
        border-top-right-radius: 10px !important;
        border-top-left-radius: 10px !important;
      }

      &:last-of-type {
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
      }

      &:not([class*=mat-elevation-z]) {
        box-shadow: none;
      }

      &.mat-expanded {
        margin: 0;
      }

      &:not(.mat-expanded) {
        .mat-expansion-panel-header {
          &:hover:not([aria-disabled=true]) {
            background: inherit;
          }
        }
      }

      .mat-expansion-panel-header {
        border-radius: unset;
        height: 56px;
        position: relative;
        padding-left: 68px;
        font-size: 16px;
        letter-spacing: 0.15px;

        &:focus {
          background-color: #e2e5ec;
        }

        &::before {
          content: url('assets/icons/expand_more.svg');
          width: 32px;
          height: 32px;
          transform: rotate(0deg);
          transition: transform 225ms;
          position: absolute;
          margin: 12px 20px;
          top: 0;
          bottom: 0;
          left: 8px;
        }

        &:not([aria-disabled=true]) {
          background-color: white;
        }

        &.mat-expanded {
          &::before {
            transform: rotate(-90deg);
          }
        }

        .mat-expansion-indicator {
          display: none;
        }
      }

      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          padding: 16px 16px 16px 68px;
        }
      }
    }
}
*/
