$dmg-button-primary: mat-color($dmg-app-primary, 700);
$dmg-fab-secondary: mat-color($dmg-app-secondary, 300);

@mixin button-basic($height: 48px) {
  height: $height;
  padding: 0px 16px;
  border-radius: 8px;
  box-shadow:  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
              0px 1px 18px 0px rgba(0, 0, 0, 0.12),
              0px 3px 5px -1px rgba(0, 0, 0, 0.2) !important;

  border: 1px solid transparent;

  .mat-button-wrapper {
    .mat-icon {
      margin-top: -4px;
    }
  }

  background-color: $dmg-button-primary !important;
  color: $light-primary-text !important;

  &:hover {
    background-color: darken($dmg-button-primary, 4%) !important;
  }

  &:focus {
    border-color: mat-color($dmg-app-secondary, 50);
    background-color: darken($dmg-button-primary, 12%) !important;
  }

  &:disabled {
    background-color: rgba(black, 0.38) !important;
    color: rgba(black, 0.38) !important;
    font-weight: 600;
    box-shadow: none !important;
  }

  &.mat-secondary {
    background-color: mat-color($dmg-app-secondary, A100) !important;
    color: $dark-primary-text !important;
    box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 3px 1px -2px rgba(0, 0, 0, 0.12),
                0px 1px 5px 0px rgba(0, 0, 0, 0.2) !important;

    &:hover {
      background-color: mat-color($dmg-app-secondary, 300) !important;
    }

    &:focus {
      border: 1px solid black !important;
    }

    &:disabled {
      background-color: mat-color($dmg-app-secondary, A100) !important;
      border: 1px solid mat-color($dmg-app-secondary, 300);
      color: $dark-disabled-text !important;
    }
  }
}

button.mat-flat-button,
button.mat-raised-button,
a.mat-flat-button,
a.mat-raised-button {
  @include button-basic();
 }

button.mat-flat-button.large,
button.mat-raised-button.large,
a.mat-flat-button.large,
a.mat-raised-button.large {
  @include button-basic(56px);
 }


button.mat-fab {
  @include button-basic(56px);
  width: 56px;

  &.fab-extended {
    height: 48px;
    border-radius: 24px;
    width: 125px;
  }
}

button.mat-fab.fab-extended {
  @include button-basic();
  border-radius: 24px;
  width: 125px;

  .mat-button-wrapper {
    padding: unset;
  }
}

button.mat-mini-fab {
  @include button-basic();
  width: 48px;
  padding: unset;
}
