$dmg-chips-bg: mat-color($dmg-app-secondary, 300);

.mat-chip-list .mat-chip-list-wrapper {
    .mat-chip {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $dark-focused;
      height: 40px;
      border-radius: 20px;
      background-color: mat-color($dmg-app-secondary, 300);

      .number-indicator {
        background-color: mat-color($dmg-app-secondary, A100);
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;
        height: 24px;
        width: 24px;
        margin-left: 24px;
        text-align: center;
        vertical-align: middle;
        line-height: 24px;
      }

      mat-icon {
        font-size: 16px;
        line-height: 24px;
        vertical-align: middle;
      }

      &:hover {
        background-color: mat-color($dmg-app-secondary, 400) !important;
      }

      &:focus {
        background-color: mat-color($dmg-app-secondary, 500) !important;
        .number-indicator {
          background-color: mat-color($dmg-app-secondary, 700) !important;
          color: #ffffff;
        }
      }

      &.mat-standard-chip:focus {

        &::after {
          display: none;
        }
      }
    }
}

.cdk-drag-preview.mat-chip {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $dark-focused;
    height: 40px;
    border-radius: 20px !important;
    background-color: mat-color($dmg-app-secondary, 600) !important;
}

.mat-form-field {
    .mat-form-field-flex .mat-form-field-infix .mat-chip-list {
      // @include input-basics();
      width: 100%;

      input.mat-input-element {
        background-color: unset;
        border: unset;
        box-shadow: unset;

        &:active,
        &:focus {
          border: unset;
        }
      }
    }
  }
