.grid-layout {
  // screen xxl
  @media screen and (min-width: 1920px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 32px 32px;
  }
  // screen xl
  @media screen and (min-width: 1281px) and (max-width: 1919.9px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-row-gap: 32px;
    grid-column-gap: 32px;
  }
  // screen lg
  @media screen and (min-width: 992px) and (max-width: 1280.9px) {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-gap: 32px 32px;
  }
  // screen md
  @media screen and (min-width: 768px) and (max-width: 991.9px) {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 32px 32px;
  }
  // screen sm
  @media screen and (min-width: 576px) and (max-width: 767.9px) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 32px 32px;
  }
  // screen xs
  @media screen and (min-width: 480px) and (max-width: 575.9px) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 32px 32px;
  }
  // screen xxs
  @media screen and (max-width: 479.9px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 32px 32px;
  }
}
