.mat-form-field {
  display: block !important;
  margin-top: 20px;

  .mat-form-field-flex {
    @include input-basics();
    align-items: center;

    .mat-form-field-infix {
      border-top: none;
      position: unset;
      padding: 2px 0;

      input.mat-input-element {
        height: 24px;
        margin: unset;
      }
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      display: table;
      max-height: 24px;

      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper,
  .mat-form-field-wrapper {
    padding-bottom: 8px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .mat-form-field-label-wrapper {
    top: -48px;
    left: 8px;

    .mat-form-field-appearance-legacy .mat-form-field-label,
    .mat-form-field-label {
      top: 25px;
    }

    .mat-form-field-label {
      transform: unset !important;
      font-size: 14px;
      font-weight: 500;
      color: lighten($dark-focused, 50%);
      letter-spacing: 0.17px;
    }
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 0px;
    position: unset;
    height: 16px;
    line-height: 16px;
    padding-left: 8px;

    > div {
      .mat-error {
        font-size: 12px;
        font-weight: 500;
        color: mat-color($dmg-app-warning, 500)
      }

      .mat-hint {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  &.mat-focused:not(*.mat-warn):not(*.mat-form-field-invalid) {
    .mat-form-field-flex {
      border-color: $dark-focused;

      .mat-form-field-label {
        color: $dark-focused;
      }

      .mat-select-arrow {
        color: $dark-focused;
      }
    }
  }

  &.mat-warn, &.mat-form-field-invalid {
    .mat-form-field-flex {
      border-color: mat-color($dmg-app-warning);
    }
  }

  &.mat-form-field-disabled {
    .mat-form-field-label {
      color: rgba(0, 0, 0, 0.38);
    }
  }

  .mat-form-field-underline {
    display: none;
  }
}
