.mat-paginator {
    background-color: transparent;
     
    .mat-paginator-container {
      height: 80px;
  
      .mat-paginator-page-size {
        align-items: center;
  
        .mat-paginator-page-size-label {
          margin-right: 8px;
        }
  
        .mat-paginator-page-size-select {
          width: 84px;
          height: 52px;
          margin: auto 0;
        }
      }
    }
}