.mat-select {
  .mat-select-trigger {
    .mat-select-value-text {
      color: rgba(0, 0, 0, 0.38) !important;
    }
  }
}

.mat-select-panel-wrap {
  margin-top: 53px;
  -webkit-overflow-scrolling: touch;
  background: mat-color($dmg-app-secondary, A100);
  max-height: 200px;
  position: relative;
  box-shadow: 0px 1px 2px 0px mat-color($dmg-app-secondary, 800);
  border-radius: 10px;

  .mat-select-panel {
    border-radius: 8px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);

    .mat-option {
      height: 48px;
      padding-left: 16px;
      padding-right: 0;
      text-overflow: ellipsis;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      -webkit-tap-highlight-color: transparent;
      font-weight: 500;

      .mat-option-text {
        height: 100%;
        padding-right: 16px;
        border-bottom: 1px solid mat-color($dmg-app-secondary, 200);
      }
    }
  }
}
