.mat-slider.mat-slider-disabled {
  .mat-slider-thumb {
    background: rgb(161, 165, 171) !important;
    border: 4px solid rgb(255, 255, 255) !important;
/*    height: 24px !important;
    width: 24px !important;*/
    transform: none !important;
  }

  .mat-slider-wrapper {

    &:after {
      height: 0 !important;
      border-radius: 1px;
      border-width: 1px;
    }
  }

  .mat-slider-ticks {
    border-radius: 2px;
    background-image: repeating-radial-gradient(circle at 2px center, rgb(0, 113, 219), rgb(0, 113, 219) 1px, transparent 1px, transparent);
    background-repeat: repeat-x;
  }

  .mat-slider-track-wrapper {

    .mat-slider-track-background {
      transform: none !important;
      background: rgba(0, 0, 0, 0.38);
      border-radius: 2px;
    }
    .mat-slider-track-fill {
      background: rgba(0, 0, 0, 0.38);
      border-radius: 2px;
    }
  }
}

.mat-slider:not(.mat-slider-disabled) {
  .mat-slider-thumb {
    background: rgb(255, 255, 255) !important;
    border: 4px solid rgba(0, 113, 219, 0.38) !important;
    /*height: 24px !important;
    width: 24px !important;*/
  }

  &.cdk-focused {
    .mat-slider-thumb {
      background: rgb(0, 113, 219) !important;
    }
    .mat-slider-thumb-label {
      background: rgb(0, 113, 219) !important;
      .mat-slider-thumb-label-text {
        font-size: 12px;
      }
    }
  }

  .mat-slider-wrapper {

    &:after {
      height: 0 !important;
      border-radius: 1px;
      border: 1px solid rgb(0, 113, 219) !important;
      background-color: rgb(0, 113, 219);
    }
  }

  .mat-slider-ticks {
    border-radius: 2px;
    //background-image: repeating-linear-gradient(to right, rgb(0, 113, 219), rgb(0, 113, 219) 4px, transparent 0, transparent);
    background-image: repeating-radial-gradient(circle at 2px center, rgb(0, 113, 219), rgb(0, 113, 219) 1px, transparent 1px, transparent);
    background-repeat: repeat-x;
  }

  .mat-slider-track-wrapper {

    .mat-slider-track-background {
      transform: none !important;
      background: rgba(0, 113, 219, 0.38);
      border-radius: 2px;
    }
    .mat-slider-track-fill {
      background: rgb(0, 113, 219);
      border-radius: 2px;
    }
  }
}
