.mat-snack-bar-container {
  min-width: 191px;
  max-width: 463px;

  .mat-simple-snackbar {
    span {
      color: rgba(255, 255, 255, 0.87);
      font-weight: 500;
      letter-spacing: 0.56px;
    }
  }

  &.success {
    background-color: $status-success;
  }

  &.information {
    background-color: $status-information-background;

    .mat-button-wrapper {
      color: mat-color($sofia-primary, 500);
    }
  }

  &.warning {
    background-color: $status-warning;
    span {
      color: black !important;
    }
  }

  &.error {
    background-color: $status-error;
  }
}
