.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: unset;

  .mat-vertical-content-container {
    margin-left: 48px;
  }

  .mat-step-header {
    height: 68px;

    .mat-step-icon {
      font-weight: bold;
      height: 48px;
      width: 48px;
      background-color: mat-color($dmg-app-secondary, 400);
    }

    .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-icon-state-edit {
      background-color: $dark-secondary-text;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12),
        0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    .mat-step-label {
      color: rgba(0, 0, 0, 0.74);
      font-weight: 500;
      height: 24px;
      line-height: 24px;
      // &.mat-step-label-active,
      // &.mat-step-label-selected {

      // }
    }
  }

  &.mat-stepper-label-position-bottom {
    // .mat-horizontal-stepper-header:not(:first-child)::before,
    // [dir=rtl] .mat-horizontal-stepper-header:not(:last-child)::before,
    // .mat-horizontal-stepper-header:not(:last-child)::after,
    // [dir=rtl] .mat-horizontal-stepper-header:not(:first-child)::after {
    //   display: none;
    // }

    .mat-step-header {
      .mat-step-label {
        padding-top: 0px;
      }

      &::before,
      &::after {
        top: 48px !important;
        width: calc(50% - 24px) !important;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }

      &:first-child::before,
      &:last-child::after {
        border-top-width: 1px;
        border-top-style: solid;
        content: '';
        display: inline-block;
        height: 0;
        position: absolute;
      }
    }

    .mat-stepper-horizontal-line {
      top: 48px;
      // margin: 0 -88px;
    }
  }
}
