.mat-tree {
  // @include shadow-box();

  .mat-tree-node {
    color: $dark-focused;

    .mat-icon-button {
      margin-right: 4px;

      &:disabled {
        width: 0px;
      }
    }

    // &[aria-expanded="true"] {
    //   font-weight: 600;
    // }
  }
}
