@use "sass:map";

////
/// @group Sofia Colors
////

$celos-background: #fff;
$dark-primary-text: rgb(18 18 18);
$dark-secondary-text: rgb(35 38 43);
$dark-disabled-text: rgb(0 5 0 / 38%);
$dark-dividers: rgb(0 0 0 / 38%);
$dark-focused: rgb(0 0 0);
$light-primary-text: #fff;
$status-success: #28a17f;
$status-information: #0070db;
$status-information-background: #2d3138;
$status-warning: #fab104;
$status-error: #f3304d;
$sofia-primary: (
  50: #e2f2fe,
  100: #b9ddfe,
  200: #8cc8fe,
  300: #5bb2fe,
  400: #31a1fe,
  500: #0091fd,
  600: #2881e8,
  700: #0071db,
  800: #0460c9,
  900: #0641aa,
  a100: #d9dfff,
  a200: #a6b5ff,
  a400: #738bff,
  a700: #5976ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    a100: $dark-primary-text,
    a200: $dark-primary-text,
    a400: $dark-primary-text,
    a700: $dark-primary-text,
  )
);
$sofia-secondary: (
  50 : #f7fbff,
  100 : #f3f6fd,
  200 : #eef1f8,
  300 : #e2e5ec,
  400 : #bfc3ca,
  500 : #a1a5ab,
  600 : #787b81,
  700 : #64676d,
  800 : #44474d,
  900 : #23262b,
  a100 : #fff,
  a200 : #fff,
  a400 : #fff,
  a700 : #fffafa,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    a100: $dark-primary-text,
    a200: $dark-primary-text,
    a400: $dark-primary-text,
    a700: $dark-primary-text,
  )
);
$sofia-warning: (
  50 : #fde3e2,
  100 : #fbb8b7,
  200 : #f98987,
  300 : #fe5036,
  400 : #f43632,
  500 : #f2130e,
  600 : #f0110c,
  700 : #ee0e0a,
  800 : #ec0b08,
  900 : #e80604,
  a100 : #fff,
  a200 : #ffdcdc,
  a400 : #ffaaa9,
  a700 : #ff9090,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    a100: $dark-primary-text,
    a200: $dark-primary-text,
    a400: $dark-primary-text,
    a700: $dark-primary-text,
  )
);
$visualization-primary: (
  300: #5bb2fe,
  400: #31a1fe,
  600: #2881e8,
  800: #0460c9,
  900: #0641aa
);
$visualization-secondary: (
  300: #67c7d2,
  400: #34b4c3,
  500: #02a2b4,
  600: #018999,
  700: #017986
);
$visualization-tertiary: (
  300: #59c8e7,
  400: #33bce2,
  500: #00acdb,
  600: #0092ba,
  700: #0080a4
);
