@use "modules/sofia-color";
@use "modules/sofia-spacing";
@use "modules/sofia-typo";
@use "modules/sofia-shadow";
@use "sass:color";

.mat-button-toggle.mat-button-toggle-appearance-standard {
  color: sofia-color.$gray-100;
  background-color: sofia-color.$gray-30;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  .mat-button-toggle-label-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: sofia-spacing.$scale-8;
  }

  &.mat-button-toggle-checked {
    background-color: sofia-color.$gray-50;
    color: sofia-color.$gray-100;
  }

  &.cdk-keyboard-focused {
    outline: 1px solid sofia-color.$blue-interaction;
    outline-offset: -1px;

    &:first-of-type {
      border-radius: 8px 0 0 8px;
    }

    &:last-of-type {
      border-radius: 0 8px 8px 0;
    }

    .mat-button-toggle-focus-overlay {
      opacity: 0;
    }
  }
}

.mat-button-toggle-ripple > * {
  transition-duration: 0ms !important;
  background-color: color.adjust(sofia-color.$gray-100, $alpha: -0.4);
}

.mat-button-toggle.mat-button-toggle-disabled {
  color: sofia-color.$gray-50;
  background-color: sofia-color.$gray-10 !important;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  width: 48px;
  height: 48px;

  &.cdk-keyboard-focused {
    outline: 1px solid sofia-color.$blue-interaction;
    outline-offset: -1px;
    border-radius: 8px;
  }

  &.large {
    width: unset;
    height: unset;
    min-width: 48px;
    min-height: 48px;
  }

  &.raised {
    box-shadow:
      0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%),
      0 2px 4px -1px rgb(0 0 0 / 20%);
  }
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  border: none;
  background: #e2e5ec;

  &.raised {
    box-shadow:
      0 1px 1px 0 rgb(0 0 0 / 14%),
      0 2px 1px -1px rgb(0 0 0 / 12%),
      0 1px 3px 0 rgb(0 0 0 / 20%);
  }
}

.mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
  border-radius: 8px;
  height: sofia-spacing.$scale-48;
  border: none;

  @include sofia-typo.body-primary;
}

body.no-hover .mat-button-toggle-appearance-standard:not(.mat-button-toggle-disabled):hover {
  /* stylelint-disable-next-line no-descending-specificity */
  .mat-button-toggle-focus-overlay {
    opacity: 0;
  }
}
