@use "sass:color";
@use "modules/sofia-button";

button.mat-button-base,
a.mat-button-base {
  @include sofia-button.button-basic;
  @include sofia-button.button-color("primary");
  @include sofia-button.button-color("secondary");
  @include sofia-button.button-color("ghost", true);
  @include sofia-button.button-color("ghost-danger", true);
  @include sofia-button.button-color("danger");

  &.sofia-btn-justified {
    width: 100%;
  }

  &.mat-fab,
  &.mat-icon-button {
    @include sofia-button.button-basic;

    padding: unset;
    width: 48px;
  }

  .mat-button-ripple,
  .mat-button-focus-overlay {
    display: none;
    opacity: 0 !important;
  }
}
