@use "modules/sofia-color";
@use "modules/sofia-typo";
@use "modules/sofia-shadow";
/* stylelint-disable no-descending-specificity */

$status-success: #28a17f;
$status-information: #0070db;
$status-information-background: #2d3138;
$status-warning: #fab104;
$status-error: #f3304d;

.mat-card.sofia-container {
  box-shadow: none;
  border: none;
  background-color: sofia-color.$white;
  border-radius: 8px;
  padding: 0;
  color: sofia-color.$gray-100;

  &.sofia-container-primary {
    background-color: sofia-color.$gray-10;
    border: none;
  }

  &.sofia-container-secondary {
    background-color: sofia-color.$gray-10;
    border: 1px solid sofia-color.$gray-40;
    box-shadow: sofia-shadow.$inner-blur-4;
  }

  &.sofia-container-tertiary {
    border: 1px solid sofia-color.$gray-40;
  }

  > *:not(:last-child) {
    border-bottom: 1px solid sofia-color.$gray-40;
  }

  > .mat-card-footer {
    display: flex;
    margin: 0;
    padding: 16px 20px;

    &.sofia-container-footer-separator {
      padding: 0;

      > * {
        padding: 16px 20px;
        margin: 0;

        &:not(:last-child) {
          border-right: solid 1px sofia-color.$gray-40;
        }
      }
    }
  }

  > .mat-card-content {
    margin: 0 !important;
    padding: 16px;
    background-color: inherit;
  }

  > .mat-card-header {
    padding: 16px 32px;

    > .mat-icon,
    > cn-icon,
    > .mat-button,
    > mat-button-toggle {
      &:first-of-type {
        margin-left: auto;
      }
    }

    > .mat-card-header-text {
      margin: 0;

      > .mat-card-title {
        @include sofia-typo.heading-secondary;

        margin: 0;
        color: sofia-color.$gray-100;
      }

      > .mat-card-subtitle {
        @include sofia-typo.subtitle-primary;

        margin: 0;
        color: sofia-color.$gray-60;
      }
    }
  }

  > .mat-card-actions {
    padding: 8px 16px;
    margin: 0;

    > .mat-button,
    > .mat-raised-button,
    > .mat-stroked-button {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    &:last-child {
      margin-bottom: unset !important;
      padding-bottom: 8px !important;
    }
  }
}

.mat-card:not(.sofia-container) {
  border-radius: 8px !important;
  padding: 0 !important;
  color: sofia-color.$gray-100;

  &.disabled {
    color: sofia-color.$gray-50;

    .mat-icon,
    cn-icon {
      color: sofia-color.$gray-50;
    }
  }

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }

  &.sofia-card-primary {
    background-color: sofia-color.$gray-10;

    body:not(.no-hover) &.sofia-card-selectable:hover:not(.disabled) {
      background-color: sofia-color.$gray-20;
    }
  }

  &.sofia-card-secondary {
    background-color: sofia-color.$white;

    body:not(.no-hover) &.sofia-card-selectable:hover:not(.disabled) {
      background-color: sofia-color.$gray-10;
    }
  }

  &.elevation-1 {
    box-shadow:
      0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%),
      0 2px 4px -1px rgb(0 0 0 / 20%);
  }

  &.elevation-2 {
    box-shadow:
      0 6px 10px 0 rgb(0 0 0 / 14%),
      0 1px 18px 0 rgb(0 0 0 / 12%),
      0 3px 5px -1px rgb(0 0 0 / 20%);
  }

  &.elevation-3 {
    box-shadow:
      0 9px 12px 1px rgb(0 0 0 / 14%),
      0 3px 16px 2px rgb(0 0 0 / 12%),
      0 5px 6px -3px rgb(0 0 0 / 20%);
  }

  &.border-success {
    border: 1px solid $status-success;
  }

  &.border-warning {
    box-shadow:
      0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%),
      0 2px 4px -1px rgb(0 0 0 / 20%);
    border: 2px solid $status-warning;
  }

  &.border-default {
    border: 1px solid rgb(102 102 102 / 38%);
  }

  &.border-dashed-1 {
    border: 1px dashed rgb(102 102 102 / 38%);
  }

  &.border-dashed-2 {
    border: 2px dashed rgb(102 102 102 / 38%);
  }

  > *:not(:last-child) {
    border-bottom: 1px solid sofia-color.$gray-40;
  }

  > .mat-card-image {
    width: 100%;
    margin: 0;
  }

  > .mat-card-header {
    > .mat-checkbox {
      margin: 16px;
      order: -1;
    }

    > .mat-card-avatar {
      margin: 12px;
    }

    > .mat-icon,
    > cn-icon {
      margin: 20px 16px;
    }

    > .mat-button,
    > .mat-button-base,
    > .mat-icon-button,
    > .mat-fab,
    > .mat-button-toggle {
      margin: 8px 4px;
    }

    > .mat-card-header-text {
      margin: 20px 16px;

      > .mat-card-title {
        @include sofia-typo.subtitle-secondary;

        margin: 0;
      }
    }

    > .mat-card-header-text,
    > .mat-checkbox {
      + .mat-icon,
      + cn-icon,
      + .mat-button,
      + .mat-button-base,
      + .mat-icon-button,
      + .mat-fab,
      + .mat-button-toggle {
        &:not(.sofia-no-auto-order) {
          margin-left: auto;
        }
      }
    }
  }

  > .mat-card-content {
    padding: 20px 16px;
    margin: 0;
  }

  > .mat-card-actions {
    padding: 8px 16px;
    margin: 0;

    > .mat-button,
    > .mat-raised-button,
    > .mat-stroked-button {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    &:last-child {
      margin-bottom: unset !important;
      padding-bottom: 8px !important;
    }
  }
}
