/* stylelint-disable-next-line scss/at-import-partial-extension */
@import "modules/sofia-media";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.celos-layout > *,
.celos-grid-layout {
  @include screen-xxl {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 32px;
    margin: 0 32px;
  }

  @include screen-xl {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 32px;
    margin: 0 32px;
  }

  @include screen-lg {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 32px;
    margin: 0 32px;
  }

  @include screen-md {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-gap: 24px;
    margin: 0 32px;
  }

  @include screen-sm {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-gap: 24px;
    margin: 0 24px;
  }

  @include screen-xs {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 16px;
    margin: 0 24px;
  }

  @include screen-xxs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 16px;
    margin: 0 16px;
  }
}
