@use "modules/sofia-typo";
@use "modules/sofia-color";
@use "modules/sofia-spacing";
@use "modules/sofia-shadow";
/* stylelint-disable no-descending-specificity */

.mat-form-field {
  display: block !important;
  margin-top: 20px;

  .mat-form-field-flex {
    @include input-basics;

    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 4px;

    body:not(.no-hover) &:hover {
      background-color: sofia-color.$gray-20;
    }

    .visibility-suffix {
      color: sofia-color.$blue-interaction;
    }

    .mat-form-field-infix {
      border-top: none;
      position: unset;
      padding: 0;

      .mat-input-element {
        @include sofia-typo.body-primary;

        margin-top: 0;
      }

      .mat-select-trigger {
        height: 24px;
      }
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      height: 21px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      column-gap: 4px;

      > * {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        column-gap: 4px;

        mat-icon,
        cn-icon {
          height: 21px;
          width: 21px;
          font-size: 21px;
        }
      }
    }
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 8px;
  }

  &.mat-form-field-disabled {
    .mat-form-field-flex {
      box-shadow: none;
      border: none;
      pointer-events: none;
      color: sofia-color.$gray-50 !important;

      mat-icon,
      cn-icon {
        color: sofia-color.$gray-50;
      }
    }

    .mat-form-field-label {
      color: sofia-color.$gray-50 !important;
    }

    .mat-hint {
      color: sofia-color.$gray-50 !important;
    }
  }

  .mat-form-field-label-wrapper {
    top: -20px;
    left: 4px;

    .mat-form-field-label {
      @include sofia-typo.label;

      transform: unset !important;
      color: sofia-color.$gray-100;
      top: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label {
      top: 0;
    }
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 4px;
    position: unset;
    height: 16px;
    padding-left: 4px;
    padding-right: 4px;

    > div {
      .mat-error {
        @include sofia-typo.label;

        color: sofia-color.$red-danger;
      }

      .mat-hint {
        @include sofia-typo.label;

        color: sofia-color.$gray-100;
      }
    }
  }

  &.mat-warn,
  &.mat-form-field-invalid {
    .mat-form-field-flex {
      border-color: sofia-color.$red-danger;

      .error-suffix {
        color: sofia-color.$red-danger;
      }
    }
  }

  .mat-form-field-underline {
    display: none;
  }

  &.mat-focused:not(*.mat-warn):not(*.mat-form-field-invalid) {
    .mat-form-field-flex {
      border-color: sofia-color.$blue-interaction;

      .mat-form-field-label {
        color: sofia-color.$gray-100;
      }

      .mat-select-arrow {
        color: sofia-color.$gray-100;
      }
    }
  }
}
