.mat-radio-button {
  .mat-radio-container {
    width: 32px;
    height: 32px;

    .mat-radio-outer-circle {
      width: 32px;
      height: 32px;
    }

    .mat-radio-inner-circle {
      transition: none;
      width: 22px;
      height: 22px;
      left: 5px;
      top: 5px;
    }
  }

    .mat-radio-outer-circle {
      width: 30px;
      height: 30px;
      border-color: mat-color($dmg-app-secondary, 700) !important;
    }
    &:not(.mat-radio-checked).mat-radio-inner-circle {
      display: none;
    }

    &.mat-radio-checked {
       .mat-radio-inner-circle {
         transform: scale(1);
         background-color: mat-color($dmg-app-primary, 700) !important;
       }
       .mat-radio-outer-circle {
         border-color: mat-color($dmg-app-primary, 700) !important;
       }
    }

    &.mat-radio-disabled .mat-radio-outer-circle, &.mat-radio-disabled .mat-radio-inner-circle {
      opacity: 0.38;
    }
}
