@use "sass:list";

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 48px;
$spacing-xl: 96px;
$spacings: xxs $spacing-xxs,
  xs $spacing-xs,
  s $spacing-s,
  m $spacing-m,
  l $spacing-l,
  xl $spacing-xl;

@for $i from 1 through length($spacings) {
  $space: list.nth($spacings, $i);
  $key: list.nth($space, 1);
  $value: list.nth($space, 2);

  .spacing-#{$key} {
    margin: #{$value};
  }

  .spacing-x-#{$key} { // x-axis
    margin-left: #{$value};
    margin-right: #{$value};
  }

  .spacing-y-#{$key} { // y-axis
    margin-top: #{$value};
    margin-bottom: #{$value};
  }

  .spacing-left-#{$key} {
    margin-left: #{$value};
  }

  .spacing-right-#{$key} {
    margin-right: #{$value};
  }

  .spacing-top-#{$key} {
    margin-top: #{$value};
  }

  .spacing-bottom-#{$key} {
    margin-bottom: #{$value};
  }
}
