<h1 mat-dialog-title>
  {{ 'settings-data-source.SelectAVariable' | translate }}
</h1>

<div mat-dialog-content class="p-0">
  <ngx-datatable
    [headerHeight]="50"
    rowHeight="auto"
    [rows]="rows"
    columnMode="flex"
    class="overflow-auto select-type-table"
  >
    <ngx-datatable-column
      [name]="'settings-data-source.Name' | translate"
      prop="name"
      [canAutoResize]="false"
    ></ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-source.BTTSString' | translate"
      prop="address"
      [minWidth]="350"
    ></ngx-datatable-column>

    <ngx-datatable-column
      [name]="'settings-data-source.Actions' | translate"
      cellClass="button-cell justify-content-center"
      headerClass="text-center"
      [sortable]="false"
      [minWidth]="80"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle
            (click)="!isExisting(row) && onSelect(row); group.value = null"
            [matTooltip]="
              isExisting(row)
                ? ('settings-data-source.DuplicatedAddress' | translate)
                : ('settings-data-source.SelectVariable' | translate)
            "
            matTooltipPosition="above"
            ><mat-icon>arrow_forward</mat-icon></mat-button-toggle
          >
        </mat-button-toggle-group>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div mat-dialog-actions class="d-flex align-items-center justify-content-end">
  <button type="submit" mat-button (click)="onClose()">
    {{ 'settings-data-source.Cancel' | translate }}
  </button>
</div>
