<h1 mat-dialog-title>
  {{ 'settings-data-source.SelectAVariable' | translate }}
</h1>

<div mat-dialog-content class="p-0">
  <ngx-datatable
    [headerHeight]="50"
    rowHeight="auto"
    [rows]="rows"
    columnMode="flex"
    class="overflow-auto select-type-table"
  >
    <ngx-datatable-column
      [name]="'settings-data-source.Name' | translate"
      prop="name"
      [canAutoResize]="false"
      [minWidth]="120"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row) || isUnsupported(row)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [name]="'settings-data-source.BTSSString' | translate"
      prop="address"
      [minWidth]="350"
      [maxWidth]="600"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <div
          class="text-ellipsis"
          [class.color-disabled]="isExisting(row) || isUnsupported(row)"
          [title]="value"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [name]="'settings-data-source.Actions' | translate"
      cellClass="button-cell justify-content-center"
      headerClass="text-center"
      [sortable]="false"
      [minWidth]="80"
      [maxWidth]="300"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle
            (click)="
              !isExisting(row) && !isUnsupported(row) && onSelect(row);
              group.value = null
            "
            [matTooltip]="
              isUnsupported(row)
                ? ('settings-data-source.UnsupportedAddress' | translate)
                : isExisting(row)
                ? ('settings-data-source.DuplicatedAddress' | translate)
                : ('settings-data-source.SelectVariable' | translate)
            "
            matTooltipPosition="above"
            [disabled]="isExisting(row) || isUnsupported(row)"
            ><mat-icon svgIcon="mdc:order-move-down"></mat-icon
          ></mat-button-toggle>
        </mat-button-toggle-group>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div mat-dialog-actions class="d-flex align-items-center justify-content-end">
  <button type="submit" mat-button (click)="onClose()">
    {{ 'settings-data-source.Cancel' | translate }}
  </button>
</div>
