<h1 mat-dialog-title>Select a variable</h1>
<div mat-dialog-content>
    <ngx-datatable
        [headerHeight]="50"
        rowHeight="auto"
        [rows]="rows"
        class="overflow-auto">
        <ngx-datatable-column name="Area" prop="area"></ngx-datatable-column>
        <ngx-datatable-column name="Component" prop="component"></ngx-datatable-column>
        <ngx-datatable-column name="Variable name" prop="variable"></ngx-datatable-column>
        <ngx-datatable-column name="Actions" cellClass="action-cell" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <mat-button-toggle-group>
                    <mat-button-toggle class="mat-button-toggle-sm" [mat-dialog-close]="row" [matTooltip]="'settings-data-source.SelectVariable' | translate" matTooltipPosition="above"><mat-icon>edit</mat-icon></mat-button-toggle>
                </mat-button-toggle-group>
            </ng-template>
          </ngx-datatable-column>
    </ngx-datatable>
</div>
<div mat-dialog-actions class="d-flex align-items-center justify-content-end">
    <button mat-button (click)="onClose()">{{ 'settings-data-source.Cancel' | translate }}</button>
</div>