////
/// @group _spacing
///

///
$scale-8: 8px;

///
$scale-16: 16px;

///
$scale-24: 24px;

///
$scale-32: 32px;

///
$scale-40: 40px;

///
$scale-48: 48px;

///
$scale-56: 56px;

///
$scale-64: 64px;

///
$scale-80: 80px;

///
$scale-96: 96px;

///
$scale-160: 160px;
