<div class="layout-header">
  <h2 class="layout-header__title mt-0 mb-0 mr-25 ml-25">
    {{ 'system-information.SystemInformation' | translate }}
  </h2>
</div>

<mat-divider></mat-divider>

<div class="pb-5 mb-5">
  <div class="col-12">
    <mat-expansion-panel [expanded]="true" class="mt-25">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'system-information.UpdateSystem' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button mat-button color="primary" (click)="update()">
          {{ 'system-information.UpdateNow' | translate }}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true" class="mt-25">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'system-information.FactoryReset' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button mat-button color="primary" (click)="factoryReset()">
          {{ 'system-information.FactoryResetNow' | translate }}
        </button>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<div class="mb-20" *ngFor="let section of data">
  <div class="pr-25 pl-25 pt-15 pb-15">
    <h3 class="m-0 section__title">{{ section.title }}</h3>
    <p class="section__description">{{ section.description }}</p>
  </div>
  <mat-divider></mat-divider>

  <div class="system-info-container pr-25 pl-25">
    <ng-container *ngFor="let item of section.items">
      <div class="row pt-15 pb-15">
        <div class="col-12 col-md-6">
          <h4 class="m-0 system-info-item__title">{{ item.key }}</h4>
          <p class="m-0 system-info-item__description">
            {{ item.keyDescription }}
          </p>
        </div>
        <div class="col-12 col-md-6">
          <h4 class="m-0 system-info-item__value">{{ item.value }}</h4>
          <p class="m-0 system-info-item__description">
            {{ item.valueDescription }}
          </p>
        </div>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
</div>
