:host ::ng-deep {
  .datatable-row-wrapper {
    cursor: move;
  }

  .cdk-drag-placeholder {
    background: rgba(0, 0, 0, 0.05);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

ngx-mat-select-search ::ng-deep {
  .mat-select-search-clear {
    box-shadow: none;
    height: 100%;
  }
}

.doc-btn {
  font-size: 11px;
  height: 12px;
  width: 12px;
  color: #008bd2;
}
.pointer {
  padding-right: 3px;
  cursor: pointer;
}
