<div class="layout-header">
  <h2 class="layout-header__title mt-0 mb-0 mr-25 ml-25">
    {{ 'settings-virtual-data-point.DataPoints' | translate }}
  </h2>
</div>

<mat-divider></mat-divider>

<div class="d-block m-20">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-center">
            <h3>{{ 'settings-virtual-data-point.DataPoints' | translate }}</h3>
            <button
              type="button"
              [disabled]="isEditing"
              mat-mini-fab
              color="primary"
              class="wh-32 border-round ml-15"
              (click)="onAdd()"
              [matTooltip]="
                'settings-virtual-data-point.AddDataPoint' | translate
              "
              matTooltipPosition="above"
            >
              <mat-icon svgIcon="mdc:order-add"></mat-icon>
            </button>
          </div>
        </div>

        <div
          class="col-12 col-md-6 d-flex align-items-center justify-content-end"
        >
          <div class="d-flex align-items-center">
            <button
              mat-button
              type="button"
              class="btn-sm mr-10"
              *ngIf="isTouchedTable && !isLoading"
              (click)="onDiscard()"
            >
              {{ 'settings-virtual-data-point.DiscardChanges' | translate }}
            </button>

            <mat-spinner
              diameter="20"
              *ngIf="isLoading"
              class="mr-10"
            ></mat-spinner>

            <button
              mat-button
              color="primary"
              type="button"
              class="btn-sm"
              [disabled]="!isTouchedTable || isLoading || isEditing"
              (click)="onApply()"
            >
              {{ 'settings-virtual-data-point.ApplyChanges' | translate }}
            </button>
          </div>
        </div>
      </div>
      <ngx-datatable
        [headerHeight]="50"
        [rows]="datapointRows"
        cdkDropList
        (cdkDropListDropped)="onReorder($event)"
        rowHeight="auto"
        columnMode="force"
        [messages]="{ emptyMessage: 'common.NoTableData' | translate }"
      >
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.Name' | translate"
          prop="name"
          cellClass="input-cell"
          [minWidth]="120"
          [maxWidth]="400"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <div
              *ngIf="unsavedRow?.id !== row.id"
              class="text-ellipsis"
              cdkDrag
              cdkDragRootElement="datatable-row-wrapper"
              [cdkDragPreviewClass]="'ngx-datatable'"
              [title]="value"
            >
              {{ getVirtualDataPointPrefix() }} {{ value }}
            </div>
            <input
              *ngIf="unsavedRow?.id === row.id"
              type="text"
              class="w-100"
              [matTooltip]="
                'settings-virtual-data-point.DuplicatedName' | translate
              "
              matTooltipPosition="above"
              [matTooltipDisabled]="!isDuplicatingName()"
              [ngModel]="value"
              (ngModelChange)="unsavedRow.name = $event"
              [class.border-danger]="isDuplicatingName()"
              autofocus
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.Operation' | translate"
          prop="operationType"
          cellClass="input-cell"
          [minWidth]="120"
          [maxWidth]="400"
        >
          <ng-template ngx-datatable-header-template let-sort="sortFn">
            <span class="pointer" (click)="sort()">{{
              'settings-virtual-data-point.Operation' | translate
            }}</span>
            <a [href]="supportHref" target="_blank">
              <mat-icon class="doc-btn" svgIcon="mdc:unknown"></mat-icon>
            </a>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span *ngIf="unsavedRow?.id !== row.id">
              <ng-container [ngSwitch]="value">
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.AND"
                  >{{
                    'virtual-data-point-operation-type.And' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.OR"
                  >{{
                    'virtual-data-point-operation-type.Or' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.NOT"
                  >{{
                    'virtual-data-point-operation-type.Not' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.COUNTER"
                  >{{
                    'virtual-data-point-operation-type.Counter' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.THRESHOLDS"
                  >{{
                    'virtual-data-point-operation-type.Thresholds' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.GREATER"
                  >{{
                    'virtual-data-point-operation-type.Greater' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.GREATER_EQUAL"
                  >{{
                    'virtual-data-point-operation-type.GreaterOrEqual'
                      | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.SMALLER"
                  >{{
                    'virtual-data-point-operation-type.Smaller' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.SMALLER_EQUAL"
                  >{{
                    'virtual-data-point-operation-type.SmallerEqual' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.EQUAL"
                  >{{
                    'virtual-data-point-operation-type.Equal' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.UNEQUAL"
                  >{{
                    'virtual-data-point-operation-type.Unequal' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.CALCULATION"
                  >{{
                    'virtual-data-point-operation-type.Calculation' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.ENUMERATION"
                  >{{
                    'virtual-data-point-operation-type.Enumeration' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.SET_TARIFF"
                  >{{
                    'virtual-data-point-operation-type.SetTariff' | translate
                  }}</ng-container
                >
                <ng-container
                  *ngSwitchCase="VirtualDataPointOperationType.BLINK_DETECTION"
                  >{{
                    'virtual-data-point-operation-type.BlinkDetection'
                      | translate
                  }}</ng-container
                >
                <ng-container *ngSwitchDefault>{{
                  value | uppercase
                }}</ng-container>
              </ng-container>
            </span>
            <mat-select
              *ngIf="unsavedRow?.id === row.id"
              disableOptionCentering="true"
              [ngModel]="value"
              (ngModelChange)="
                unsavedRow && (unsavedRow.operationType = $event)
              "
            >
              <mat-option
                *ngFor="let op of Operations"
                [value]="op.value"
                [disabled]="
                  op.value === VirtualDataPointOperationType.SET_TARIFF &&
                  isSetTariffAlreadyIncluded()
                "
                >{{ op.text | translate }}</mat-option
              >
            </mat-select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.Sources' | translate"
          prop="sources"
          cellClass="input-cell"
          [minWidth]="120"
          [maxWidth]="400"
          [comparator]="compareSources"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <ng-container *ngIf="unsavedRow?.id !== row.id">
              <div
                class="text-ellipsis"
                [title]="getSourceNamesWithPrefix(value)"
              >
                {{ getSourceNamesWithPrefix(value) }}
              </div>
            </ng-container>
            <div *ngIf="unsavedRow?.id === row.id">
              <mat-select
                disableOptionCentering="true"
                *ngIf="isAbleToSelectMultipleSources(unsavedRow?.operationType)"
                [ngModel]="value"
                (ngModelChange)="unsavedRow && (unsavedRow.sources = $event)"
                multiple
              >
                <mat-option>
                  <ngx-mat-select-search
                    placeholderLabel="Search..."
                    noEntriesFoundLabel="No results found"
                    [(ngModel)]="filterSourceStr"
                  ></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let s of dataSourcesFiltered" [value]="s.id"
                  >{{ getDataSourceDataPointPrefix(s.id) }}
                  {{ s.name }}</mat-option
                >
                <mat-option
                  *ngFor="let s of previousVirtualPointsFiltered"
                  [value]="s.id"
                  [disabled]="getRowIndex(s.id) > rowIndex"
                  >{{ getVirtualDataPointPrefix() }} {{ s.name }}</mat-option
                >
              </mat-select>
              <mat-select
                disableOptionCentering="true"
                *ngIf="
                  !isAbleToSelectMultipleSources(unsavedRow?.operationType)
                "
                [ngModel]="value[0]"
                (ngModelChange)="unsavedRow && (unsavedRow.sources = [$event])"
              >
                <mat-option>
                  <ngx-mat-select-search
                    placeholderLabel="Search..."
                    noEntriesFoundLabel="No results found"
                    [(ngModel)]="filterSourceStr"
                  ></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let s of dataSourcesFiltered" [value]="s.id"
                  >{{ getDataSourceDataPointPrefix(s.id) }}
                  {{ s.name }}</mat-option
                >
                <mat-option
                  *ngFor="
                    let s of previousVirtualPointsFiltered;
                    let idx = index
                  "
                  [value]="s.id"
                  [disabled]="getRowIndex(s.id) > idx"
                  >{{ getVirtualDataPointPrefix() }} {{ s.name }}</mat-option
                >
              </mat-select>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.LiveData' | translate"
          prop="liveData"
          [sortable]="false"
          [minWidth]="120"
          [maxWidth]="400"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span *ngIf="liveData && liveData[row.id]; else noLiveData">
              <span *ngIf="row.operationType === 'blink-detection'">
                {{
                'settings-data-source.BlinkingStatus.' +
                  liveData?.[row.id]?.value | translate
                }}
              </span>
              <span *ngIf="row.operationType !== 'blink-detection'">
                {{ liveData[row.id]?.value }}
              </span>
            </span>
            <ng-template #noLiveData>-</ng-template>
            <span
              *ngIf="
                canSetComparativeValue(row?.operationType) &&
                !row?.comparativeValue &&
                !isEditing
              "
              style="position: absolute"
              class="ml-10 color-danger"
              [matTooltip]="
                'settings-virtual-data-point.MissingComparativeValue'
                  | translate
              "
              matTooltipPosition="above"
            >
              <mat-icon svgIcon="mdc:info"></mat-icon>
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.Actions' | translate"
          cellClass="button-cell"
          [sortable]="false"
          [minWidth]="120"
          [maxWidth]="400"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <mat-button-toggle-group
              *ngIf="unsavedRow?.id !== row.id"
              #group="matButtonToggleGroup"
            >
              <mat-button-toggle
                *ngIf="
                  row?.operationType === VirtualDataPointOperationType.COUNTER
                "
                (click)="onSetSchedule(row); group.value = null"
                [matTooltip]="
                  'settings-virtual-data-point.SetSchedules' | translate
                "
                matTooltipPosition="above"
                ><mat-icon svgIcon="mdc:calendar"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="canSetComparativeValue(row?.operationType)"
                (click)="
                  row?.sources?.length > 0 && onSetComparativeValue(row);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetComparativeValue' | translate
                "
                matTooltipPosition="above"
                [disabled]="row?.sources?.length === 0"
                ><mat-icon svgIcon="mdc:settings"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  row?.operationType ===
                  VirtualDataPointOperationType.THRESHOLDS
                "
                (click)="
                  row?.sources?.length > 0 && onSetThreshold(row);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetThreshold' | translate
                "
                matTooltipPosition="above"
                [disabled]="row?.sources?.length === 0"
                ><mat-icon svgIcon="mdc:diagnosis"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  row?.operationType ===
                    VirtualDataPointOperationType.ENUMERATION ||
                  row?.operationType ===
                    VirtualDataPointOperationType.SET_TARIFF
                "
                (click)="
                  row?.sources?.length > 0 && onSetEnumeration(row);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetEnumeration' | translate
                "
                matTooltipPosition="above"
                [disabled]="row?.sources?.length === 0"
                ><mat-icon svgIcon="mdc:order-group"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  row?.operationType ===
                  VirtualDataPointOperationType.CALCULATION
                "
                (click)="
                  row?.sources?.length > 0 && onSetFormula(row);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetFormula' | translate
                "
                matTooltipPosition="above"
                [disabled]="row?.sources?.length === 0"
                ><mat-icon svgIcon="mdc:system"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  row?.operationType ===
                  VirtualDataPointOperationType.BLINK_DETECTION
                "
                (click)="
                  row?.sources?.length > 0 && onSetBlinkSettings(row);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetBlinkSettings' | translate
                "
                matTooltipPosition="above"
                ><mat-icon svgIcon="mdc:settings"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                (click)="onEditStart(rowIndex, row); group.value = null"
                [matTooltip]="'settings-virtual-data-point.Edit' | translate"
                matTooltipPosition="above"
                ><mat-icon svgIcon="mdc:edit"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                (click)="!row.mandatory && onDelete(row); group.value = null"
                [matTooltip]="'settings-virtual-data-point.Delete' | translate"
                matTooltipPosition="above"
                [disabled]="row.mandatory"
                ><mat-icon svgIcon="mdc:delete"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  row?.operationType === VirtualDataPointOperationType.COUNTER
                "
                (click)="onReset(row)"
                [matTooltip]="'settings-virtual-data-point.Reset' | translate"
                matTooltipPosition="above"
                ><mat-icon svgIcon="mdc:undo"></mat-icon
              ></mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group
              #group="matButtonToggleGroup"
              *ngIf="unsavedRow?.id === row.id"
            >
              <mat-button-toggle
                *ngIf="canSetComparativeValue(unsavedRow?.operationType)"
                (click)="
                  !unsavedRow && onSetComparativeValue(unsavedRow);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetComparativeValue' | translate
                "
                matTooltipPosition="above"
                [disabled]="!!unsavedRow"
                ><mat-icon svgIcon="mdc:settings"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  unsavedRow?.operationType ===
                  VirtualDataPointOperationType.COUNTER
                "
                (click)="
                  unsavedRow &&
                    unsavedRow.sources &&
                    unsavedRow.sources.length > 0 &&
                    onSetSchedule(unsavedRow);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetSchedules' | translate
                "
                matTooltipPosition="above"
                [disabled]="
                  !(
                    unsavedRow &&
                    unsavedRow.sources &&
                    unsavedRow.sources.length > 0
                  )
                "
                ><mat-icon svgIcon="mdc:calendar"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  unsavedRow?.operationType ===
                  VirtualDataPointOperationType.THRESHOLDS
                "
                (click)="
                  !unsavedRow && onSetThreshold(unsavedRow); group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetThreshold' | translate
                "
                matTooltipPosition="above"
                [disabled]="!!unsavedRow"
                ><mat-icon svgIcon="mdc:diagnosis"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  unsavedRow?.operationType ===
                    VirtualDataPointOperationType.ENUMERATION ||
                  unsavedRow?.operationType ===
                    VirtualDataPointOperationType.SET_TARIFF
                "
                (click)="
                  !unsavedRow && onSetEnumeration(unsavedRow);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetEnumeration' | translate
                "
                matTooltipPosition="above"
                [disabled]="!!unsavedRow"
                ><mat-icon svgIcon="mdc:order-group"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  unsavedRow?.operationType ===
                  VirtualDataPointOperationType.CALCULATION
                "
                (click)="
                  !unsavedRow && onSetFormula(unsavedRow); group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetFormula' | translate
                "
                matTooltipPosition="above"
                [disabled]="!!unsavedRow"
                ><mat-icon svgIcon="mdc:system"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                *ngIf="
                  row?.operationType ===
                  VirtualDataPointOperationType.BLINK_DETECTION
                "
                (click)="
                  row?.sources?.length > 0 && onSetBlinkSettings(row);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetBlinkSettings' | translate
                "
                matTooltipPosition="above"
                ><mat-icon svgIcon="mdc:settings"></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                (click)="
                  !isDuplicatingName() &&
                    unsavedRow.name?.length > 0 &&
                    unsavedRow.sources?.length > 0 &&
                    onEditEnd();
                  group.value = null
                "
                [disabled]="
                  isDuplicatingName() ||
                  unsavedRow.name?.length === 0 ||
                  !unsavedRow.name ||
                  unsavedRow.sources?.length === 0 ||
                  !unsavedRow.sources
                "
                [matTooltip]="'settings-virtual-data-point.Save' | translate"
                matTooltipPosition="above"
                ><mat-icon
                  class="color-success"
                  svgIcon="mdc:checkmark"
                ></mat-icon
              ></mat-button-toggle>
              <mat-button-toggle
                (click)="onEditCancel(); group.value = null"
                [matTooltip]="'settings-virtual-data-point.Cancel' | translate"
                matTooltipPosition="above"
                ><mat-icon class="color-error" svgIcon="mdc:close"></mat-icon
              ></mat-button-toggle>
            </mat-button-toggle-group>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
