<div class="layout-header">
  <h2 class="layout-header__title mt-0 mb-0 mr-25 ml-25">
    {{ 'settings-virtual-data-point.DataPoints' | translate }}
  </h2>
</div>

<mat-divider></mat-divider>

<div class="d-block m-20">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-center">
            <h3>{{ 'settings-virtual-data-point.DataPoints' | translate }}</h3>
            <button
              type="button"
              [disabled]="isEditing"
              mat-mini-fab
              color="primary"
              class="wh-32 border-round ml-15"
              (click)="onAdd()"
              [matTooltip]="
                'settings-virtual-data-point.AddDataPoint' | translate
              "
              matTooltipPosition="above"
            >
              <mat-icon style="margin-top: -10px">add</mat-icon>
            </button>
          </div>
        </div>

        <div
          class="col-12 col-md-6 d-flex align-items-center justify-content-end"
        >
          <div class="d-flex align-items-center">
            <button
              mat-button
              type="button"
              class="btn-sm mr-10"
              *ngIf="isTouchedTable && !isLoading"
              (click)="onDiscard()"
            >
              {{ 'settings-virtual-data-point.DiscardChanges' | translate }}
            </button>

            <mat-spinner
              diameter="20"
              *ngIf="isLoading"
              class="mr-10"
            ></mat-spinner>

            <button
              mat-raised-button
              type="button"
              class="btn-sm"
              [disabled]="!isTouchedTable || isLoading"
              (click)="onApply()"
            >
              {{ 'settings-virtual-data-point.ApplyChanges' | translate }}
            </button>
          </div>
        </div>
      </div>
      <ngx-datatable
        [headerHeight]="50"
        [rows]="datapointRows"
        rowHeight="auto"
        columnMode="flex"
      >
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.Name' | translate"
          prop="name"
          [flexGrow]="1"
          cellClass="input-cell"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <div
              *ngIf="unsavedRowIndex !== rowIndex"
              class="text-ellipsis"
              [title]="value"
            >
              {{ getVirtualDataPointPrefix() }} {{ value }}
            </div>
            <input
              *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
              type="text"
              class="w-100"
              [matTooltip]="
                'settings-virtual-data-point.DuplicatedName' | translate
              "
              matTooltipPosition="above"
              [matTooltipDisabled]="!isDuplicatingName()"
              [ngModel]="value"
              (ngModelChange)="unsavedRow.name = $event"
              [class.border-danger]="isDuplicatingName()"
              autofocus
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.Operation' | translate"
          prop="operationType"
          [flexGrow]="1"
          cellClass="input-cell"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span *ngIf="unsavedRowIndex !== rowIndex">
              {{ value | uppercase }}
            </span>
            <mat-select
              *ngIf="unsavedRow && unsavedRowIndex === rowIndex"
              [ngModel]="value"
              (ngModelChange)="
                unsavedRow && (unsavedRow.operationType = $event)
              "
            >
              <mat-option *ngFor="let op of Operations" [value]="op">{{
                op | uppercase
              }}</mat-option>
            </mat-select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.Sources' | translate"
          prop="sources"
          [flexGrow]="3"
          cellClass="input-cell"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <ng-container *ngIf="unsavedRowIndex !== rowIndex">
              <div class="text-ellipsis" [title]="value">
                {{ getSourceNames(value) }}
              </div>
            </ng-container>
            <div *ngIf="unsavedRowIndex === rowIndex">
              <mat-select
                *ngIf="isAbleToSelectMultipleSources(unsavedRow?.operationType)"
                [ngModel]="value"
                (ngModelChange)="unsavedRow && (unsavedRow.sources = $event)"
                multiple
              >
                <mat-option>
                  <ngx-mat-select-search
                    placeholderLabel="Search..."
                    noEntriesFoundLabel="No results found"
                    [(ngModel)]="filterSourceStr"
                  ></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let s of dataSourcesFiltered" [value]="s.id"
                  >{{ getDataSourceDataPointPrefix(s.id) }}
                  {{ s.name }}</mat-option
                >
                <mat-option
                  *ngFor="
                    let s of previousVirtualPointsFiltered;
                    let idx = index
                  "
                  [value]="s.id"
                  [disabled]="getRowIndex(s.id) > idx"
                  >{{ getVirtualDataPointPrefix() }} {{ s.name }}</mat-option
                >
              </mat-select>
              <mat-select
                *ngIf="
                  !isAbleToSelectMultipleSources(unsavedRow?.operationType)
                "
                [ngModel]="value[0]"
                (ngModelChange)="unsavedRow && (unsavedRow.sources = [$event])"
              >
                <mat-option>
                  <ngx-mat-select-search
                    placeholderLabel="Search..."
                    noEntriesFoundLabel="No results found"
                    [(ngModel)]="filterSourceStr"
                  ></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let s of dataSourcesFiltered" [value]="s.id"
                  >{{ getDataSourceDataPointPrefix(s.id) }}
                  {{ s.name }}</mat-option
                >
                <mat-option
                  *ngFor="
                    let s of previousVirtualPointsFiltered;
                    let idx = index
                  "
                  [value]="s.id"
                  [disabled]="getRowIndex(s.id) > idx"
                  >{{ getVirtualDataPointPrefix() }} {{ s.name }}</mat-option
                >
              </mat-select>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.LiveData' | translate"
          prop="livedata"
          [flexGrow]="1"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span *ngIf="liveData && liveData[row.id]; else noLiveData">
              {{ liveData[row.id]?.value }}
            </span>
            <ng-template #noLiveData>-</ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [name]="'settings-virtual-data-point.Actions' | translate"
          [flexGrow]="1"
          cellClass="button-cell"
          [sortable]="false"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <mat-button-toggle-group
              *ngIf="unsavedRowIndex !== rowIndex"
              #group="matButtonToggleGroup"
            >
              <mat-button-toggle
                *ngIf="
                  row?.operationType ===
                  VirtualDataPointOperationType.THRESHOLDS
                "
                (click)="onSetThreshold(row); group.value = null"
                [matTooltip]="
                  'settings-virtual-data-point.SetThreshold' | translate
                "
                matTooltipPosition="above"
                ><mat-icon>show_chart</mat-icon></mat-button-toggle
              >
              <mat-button-toggle
                (click)="onEditStart(rowIndex, row); group.value = null"
                [matTooltip]="'settings-virtual-data-point.Edit' | translate"
                matTooltipPosition="above"
                ><mat-icon>edit</mat-icon></mat-button-toggle
              >
              <mat-button-toggle
                (click)="onDelete(row); group.value = null"
                [matTooltip]="'settings-virtual-data-point.Delete' | translate"
                matTooltipPosition="above"
                ><mat-icon>delete_outline</mat-icon></mat-button-toggle
              >
            </mat-button-toggle-group>
            <mat-button-toggle-group
              #group="matButtonToggleGroup"
              *ngIf="unsavedRowIndex === rowIndex"
            >
              <mat-button-toggle
                *ngIf="
                  unsavedRow?.operationType ===
                  VirtualDataPointOperationType.THRESHOLDS
                "
                (click)="
                  unsavedRow &&
                    unsavedRow.sources &&
                    unsavedRow.sources.length > 0 &&
                    onSetThreshold(unsavedRow);
                  group.value = null
                "
                [matTooltip]="
                  'settings-virtual-data-point.SetThreshold' | translate
                "
                matTooltipPosition="above"
                [disabled]="
                  !(
                    unsavedRow &&
                    unsavedRow.sources &&
                    unsavedRow.sources.length > 0
                  )
                "
                ><mat-icon>show_chart</mat-icon></mat-button-toggle
              >
              <mat-button-toggle
                (click)="
                  !isDuplicatingName() && onEditEnd(); group.value = null
                "
                [matTooltip]="'settings-virtual-data-point.Save' | translate"
                matTooltipPosition="above"
                ><mat-icon class="color-success"
                  >check</mat-icon
                ></mat-button-toggle
              >
              <mat-button-toggle
                (click)="onEditCancel(); group.value = null"
                [matTooltip]="'settings-virtual-data-point.Cancel' | translate"
                matTooltipPosition="above"
                ><mat-icon class="color-error"
                  >close</mat-icon
                ></mat-button-toggle
              >
            </mat-button-toggle-group>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
