[Unit]
Description=Watch on press of USER button. If pressed 3 seconds, flashing starts.

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/node /root/flashService.js
User=root
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target