@import '@angular/material/theming';
@import '../../material-theme/colors.sofia.scss';

.color-success {
  color: $status-success;
}
.color-info {
  color: $status-information;
}
.color-warning {
  color: $status-warning;
}
.color-error,
.color-danger {
  color: $status-error;
}

.color-disabled {
  color: lighten($status-information-background, 30%);
}

.border-danger {
  border: 1px solid $status-error !important;
}
