.wh-32 {
    width: 32px !important;
    height: 32px !important;
}
.w-100 {
    width: 100% !important;
}
.overflow-auto {
    overflow: auto !important;
}
.text-nowrap {
    white-space: nowrap !important;
}
.border-round {
    border-radius: 100% !important;
}
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cursor-pointer {
    cursor: pointer !important;
}