<main class="reset-layout">
  <div class="split-screen"></div>
  <div class="reset-screen">
    <div class="reset-logo">
      <img src="/assets/images/logo-login.png" alt="logotype">
    </div>
    <div class="reset-texts">
      <p>{{ 'auth-reset-password.ForCustomers' | translate }}</p>
      <p>{{ 'auth-reset-password.ForCustomersDescription' | translate }}</p>
    </div>
    <div class="reset-form">
      <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
        <mat-form-field>
          <mat-label>{{ 'auth-reset-password.NewPassword' | translate }}</mat-label>
          <input
            matInput
            type="password"
            name="newPassword"
            [(ngModel)]="resetPassword.newPassword"
            [required]="true"
            (ngModelChange)="validateConfirmPassword(form)"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'auth-reset-password.ConfirmPassword' | translate }}</mat-label>
          <input
            matInput
            type="password"
            name="confirmPassword"
            [(ngModel)]="resetPassword.confirmPassword"
            [required]="true"
            (ngModelChange)="validateConfirmPassword(form)"
          />
        </mat-form-field>

        <div class="text-center">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
          >{{ 'auth-reset-password.ResetPassword' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</main>
