.reset-layout {
  height: 100%;
  display: flex;

  .split-screen {
    flex-grow: 1;
    height: 100%;
    background-image: url('~assets/images/login-split-screen.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .reset-screen {
    width: 500px;
    padding: 0 75px 0 75px;

    @media all and (max-width: 500px) {
      width: 100%;
      padding: 0 35px 0 35px;
    }
  }
}

.reset-logo {
  margin-top: 90px;

  img {
    height: 64px;
    width: 100%;
    object-fit: contain;
  }
}

.reset-texts {
  margin-top: 90px;

  p {
    margin: 0 0 2px;
    font-size: 14px;
    font-weight: 500;
  }
}

.reset-form {
  margin-top: 50px;
}
